{% extends 'base.html.twig' %}

{% block title %}Sgr: Profesores{% endblock %}

{% block body %}
    <h1>Sgr: Profesores</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_profesor in sgr_profesors %}
            <tr>
                <td>{{ sgr_profesor.id }}</td>
                <td>{{ sgr_profesor.nombre }}</td>
                <td>{{ sgr_profesor.dni }}</td>
                <td>
                    <a class="btn btn-secondary" role="button" href="{{ path('sgr_profesor_show', {'id': sgr_profesor.id}) }}">Ver</a>
                    <a class="btn btn-primary" role="button" href="{{ path('sgr_profesor_edit', {'id': sgr_profesor.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay profesores definidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('sgr_profesor_new') }}">Nuevo profesor</a>
{% endblock %}
