{% extends 'base.html.twig' %}

{% block title %}Sgr: Taxonomías{% endblock %}

{% block body %}
    <h1>Sgr: Taxonomías </h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Términos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_taxonomium in sgr_taxonomias %}
            <tr>
                <td>{{ sgr_taxonomium.id }}</td>
                <td>{{ sgr_taxonomium.nombre }}</td>
                <td>{{ sgr_taxonomium.descripcion }}</td>
                <td>
                    {% for sgr_termino in sgr_taxonomium.sgrTerminos %}
                        {{ sgr_termino.nombre }} <br />
                    {% endfor %}
                </td>
                <td>
                    <a type="button" class="btn btn-secondary m-1" href="{{ path('sgr_taxonomia_show', {'id': sgr_taxonomium.id}) }}">Ver</a>
                    <a type="button" class="btn btn-primary m-1" href="{{ path('sgr_taxonomia_edit', {'id': sgr_taxonomium.id}) }}">Editar</a>
                    

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay taxonomias definidas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('sgr_taxonomia_new') }}">Nueva Taxonomia</a>
    <a type="button" class="btn btn-link" href="{{ path('sgr_termino_index') }}">Ir a Términos</a>
{% endblock %}
