{% extends 'base.html.twig' %}

{% block title %}Taxonomia{% endblock %}

{% block body %}
    <h1>Taxonomia</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgr_taxonomium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sgr_taxonomium.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ sgr_taxonomium.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-4">
        <a class="btn btn-primary" type="button" href="{{ path('sgr_taxonomia_edit', {'id': sgr_taxonomium.id}) }}">Editar</a>
        <a class="btn btn-link" type="button" href="{{ path('sgr_taxonomia_index') }}">Volver a la lista</a>
    </div>
    {{ include('sgr_taxonomia/_delete_form.html.twig') }}

    
{% endblock %}
