{% extends 'base.html.twig' %}

{% block title %}SgrEvento index{% endblock %}

{% block stylesheets %}
    
    
    <link href="/build/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/build/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">

    <!-- 
    
    <link href="/reservasfgh/public/build/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/reservasfgh/public/build/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">
    
    -->
{% endblock %}


{% block body %}
	<div class="row p-3">
		<div class="col">
			{{ include('sgr_calendarios/_form.html.twig', {'button_label': 'Mostrar eventos'}) }}
    	</div>
    </div>
	
	<div class="row">
	<div class="col">
		{% set diasSemana = {1: 'Lunes', 2:'Martes', 3: 'Miércoles',4: 'Jueves',5: 'Viernes',6: 'Sábado' } %}
	{% if aCalendarios is defined %}
	<table class="table table-striped table-bordered">	
	{# for cod, dia in diasSemana #}
	{% for calendario in aCalendarios %}
	<tr>
		<th>{# dia #}{{ calendario.sgrEspacio.nombre }}</th>
		<td>
	<table class="table table-striped table-bordered ">
		<caption class="text-center">Cuadrante de ocupación: Desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b> ({{ calendario.sgrEspacio.nombre }}) </caption>
		<thead class="thead-dark">
			<tr>
				<th scope="col" style="max-width: 100px"><div class="col">Hora</div></th>
				
				{% set start_h = constant('\\App\\Entity\\SgrEvento::H_INICIO_MIN') | date('U') %}
				{% set end_h = constant('\\App\\Entity\\SgrEvento::H_FIN_MAX') | date('U') %}	
				{% set step = 60*60 %} {# 3 horas en segundos #}
				{% set setpMinutes = 60 %} {# 3 horas en minutos #}
				
				 
				{% for hour in range(start_h, end_h, step) %}
				
						<th scope="col" >
							<div class="col text-center" ><span >{{ hour|date('H:i') }}</span> - <span>{{ (hour + step)|date('H:i') }}</span></div>
						</th>
				{% endfor %}
				
				
			</tr>
		</thead>
		<tbody>
					
			{# for calendario in aCalendarios #}
			{% for cod, dia in diasSemana %}
				<tr style="">
					<th scope="row" >
						<div class="col">{{ dia }}{# calendario.sgrEspacio.nombre #}</div>
					</th>
				{% for hour in range(start_h, end_h, step) %}	
					<td style="padding: 0px;">
						<div class="e" style="position: relative;min-height: 60px;height: 100%;">

							
							<div style="width:100%;position: absolute;min-height: 35px;height: 100%;">
								{% for i in range(0,1) %}
									<div style="float: left;width: 50%;height: 100%;border-left: 1px dotted gray;"></div>	
								{% endfor %}

							</div>
						
							{% if not calendario.periods is empty %}
								{% set bandera = 0 %}

								{% set repe = false %}
								{% for period in calendario.periods %}
								
									
								{% for codDiaEvento in period.evento.dias %}
										

									
									
								{% if codDiaEvento == cod %}	

									


									{# set counter = ( counter | default(0) ) + 1 #}
									
									{% if period.datePeriod.start|date('H:i') >= hour|date('H:i') and period.datePeriod.start|date('H:i') < (hour+step)|date('H:i') %}


									{% set h_inicio =  date( period.datePeriod.start|date('H:i') )  %}
									{% set h_fin =  date( period.datePeriod.end|date('H:i') )  %}
									{% set duration = (h_fin.diff(h_inicio).format('%H')*60 + h_fin.diff(h_inicio).format('%i')) %}
									{% set w = 100*duration / 60 %}
									
									{% set h_cuadrante =  date( hour|date('H:i') )  %}
									{% set diffInMinutes = (h_cuadrante.diff(h_inicio).format('%H')*60 + h_cuadrante.diff(h_inicio).format('%i')) %}
									{% set offset = 100*diffInMinutes / 60 %}
										{% if (bandera == period.datePeriod.start|date('H:i') ~ codDiaEvento) %}
											{% set offset = offset  + 30 %}
											{% set w = w - 30 %}
										{% endif %}		
										<div style="z-index: 2;
											width: {{ w }}%;
											position:absolute;
											top:0px;
											left:{{ offset }}%;
											background-color: #bbb;
											height: 58px;
											border-left: 1px solid white">
											
											<a  href="javascript:;" data-animation="true" tabindex="{# counter #}0" data-trigger="focus" data-html="true"  data-toggle="popover" title="Información de la Reserva" data-content="<div class='text-center'>
											<p><b>{{ period.evento.titulo }}</b></p>
											<p>{{ period.evento.actividad }}</p>
											<p>{{ period.evento.fInicio|date('d-m-Y') }} - {{ period.evento.fFin|date('d-m-Y') }}</p>
											<p>{{ period.evento.hInicio|date('H:i')}} - {{ period.evento.hFin|date('H:i') }}</p>
											<p>{{ period.evento.getDiasStringFormat|join(', ',' y ') }}</p>
											<p>{{period.evento.espacio}}</p></div>"
											>	
												<div class="badge badge-info text-wrap p-2" style="width: 100%;height: 58px;">
	  												<div class="align-middle text-truncate">
	  												{{ period.evento.titulo }}
	  												</div>
	  												<div class="align-bottom">
	  														<span class="text-sm-left">{{ period.evento.hInicio|date('H:i') }}</span>
	  														<span class="text-sm-right">{{ period.evento.hFin|date('H:i') }}</span>
	  												</div>	
	  											</div>
  											</a>
											{% set f_inicio =  period.datePeriod.start %}
											{% set f_fin =  period.datePeriod.end %}
											{% set diff = f_inicio.diff(f_fin).format('%d') %}

											{# numdaysView --> pasada desde controlador = número de días entre f_inicio y f_fin elegido por el usuario  #}
											{% if diff == 0%}
												{% set diff = 1 %}
											{% endif %}
											{% if numDaysView != 0 %}
												{% set anchor = (diff * 100) / numDaysView %}
											{% else %}
											{# la diferencia entre f_inicio y f_fin es cero, osea, f_inicio = f_fin #}							{% set anchor = 100 %}
											{% endif %}

											{#dump(anchor)#}
  											{#
  											<div style="height: 10px;background-color: red;width: {{ anchor  }}%;float:left;"></div>
											<div style="height: 10px;background-color: green;width: Calc(100% - {{anchor}}%);float:left"></div>		
											#}
										</div>

										{% set bandera = period.datePeriod.start|date('H:i') ~ codDiaEvento %}
									{% endif %}
								{% endif %}
								{% endfor %}
								{% endfor %}
							{% endif %}
						
						</div>

					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
		</td>
	{%endfor%}
	</table>
	{%else%}
		<div class="alert alert-primary p-4" role="alert">
            Seleccione criterios de busqueda... 
        </div>
	{%endif%}
	</div><!-- /.col -->
	</div><!-- /.row -->
{% endblock %}

{% block morescripts %}

<script type="text/javascript">        
	$(function () {
 		$('[data-toggle="popover"]').popover({
 			trigger: 'focus',
 			animation: true,
 			delay: { "show": 300, "hide": 100 },
  		});
 	});
</script>
<script type="text/javascript">
        
    var $termino = $('#sgr_filters_sgr_eventos_termino');
        
    $( '#sgr_filters_sgr_eventos_termino' ).change(function(e) {
        // ... retrieve the corresponding form.
        e.preventDefault();
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected titulacion value.
        var data = {};
        data[$termino.attr('name')] = $termino.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : '/admin/sgr/espacio/ajax/getEspacios',
            type: 'GET',//$form.attr('method'),
            data : data,
            success: function(html) {
                //console.log(html.sgrEspacios.content);//.espacio.content);
                //console.log(html.asignaturas.content);
            	$('#sgr_filters_sgr_eventos_espacio').html(html.sgrEspacios.content).fadeOut().fadeIn();
               // $('#sgr_filters_sgr_eventos_profesor').html(html.profesores.content).fadeOut().fadeIn();

            },
            error: function(xhr, ajaxOptions, thrownError){
                alert(xhr.responseText + ' (codeError: ' + xhr.status  +')');
            }
        });
    });
    
    $('#sgr_filters_sgr_eventos_semana_en_curso_submit').click(function(e)
    {
        $('#sgr_filters_sgr_eventos_f_inicio').val(moment().day('Monday').format('D/M/YYYY'));
        $('#sgr_filters_sgr_eventos_f_fin').val(moment().day('Saturday').format('D/M/YYYY'));
    });

    $('#sgr_filters_sgr_eventos_semana_anterior_submit').click(function(e)
    {	
    	$current = moment($('#sgr_filters_sgr_eventos_f_inicio').val(),'D/M/YYYY');
    	$('#sgr_filters_sgr_eventos_f_inicio').val(moment($current).day('Monday').subtract(7,'days').format('D/M/YYYY'));
        $('#sgr_filters_sgr_eventos_f_fin').val(moment($current).day('Saturday').subtract(7,'days').format('D/M/YYYY'));
    });

    $('#sgr_filters_sgr_eventos_semana_siguiente_submit').click(function(e)
    {	
    	$current = moment($('#sgr_filters_sgr_eventos_f_fin').val(),'D/M/YYYY');
    	$('#sgr_filters_sgr_eventos_f_inicio').val(moment($current).day('Monday').add(7,'days').format('D/M/YYYY'));
        $('#sgr_filters_sgr_eventos_f_fin').val(moment($current).day('Saturday').add(7,'days').format('D/M/YYYY'));
    });
    
</script>
{% endblock %}