{% extends 'base.html.twig' %}

{% block title %}SgrEvento index{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}


{% block body %}
	<h1>Calendarios</h1>

	<div id="filtros">
		<div class="mt-3 mb-3">

            {{ include('sgr_form/_formFiltersSrgEvento.html.twig', {'button_label': 'Filtrar eventos'}) }}
    	</div>
    </div>
	
	
	{% set diasSemana = {1: 'Lunes', 2:'Martes', 3: 'Miércoles',4: 'Jueves',5: 'Viernes',6: 'Sábado' } %}
	{% if aCalendarios is defined %}
	
	{% if data.filtros %}
		{% for key, filtro in data.filtros %}
			{% if filtro%}
			<span><b>{{ key|capitalize }}:</b> {{filtro|capitalize}} </span>
			{% endif %}		
		{% endfor %}
	{% endif %}
	
	{% for calendario in aCalendarios %}
	<h2>{{ calendario.sgrEspacio.nombre }}</h2>
	<div class="row">
		<div class="col-6 justify-content-start" >
			<p>

				Ocupación desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b>
			</p>
		</div>
		<div class=col-6>
			{{ include('sgr_calendarios/nav.html.twig') }}
		</div>
	</div>
	<table class="table table-striped table-bordered tespacio">
		<caption class="text-center">

				Cuadrante de ocupación: Desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b> ({{ calendario.sgrEspacio.nombre }}) 
		</caption>
		<thead class="thead-dark">
			<tr>
				<th scope="col" style="max-width: 100px"><div class="col">Hora</div></th>
				
				{% set start_h = constant('\\App\\Entity\\SgrEvento::H_INICIO_MIN') | date('U') %}
				{% set end_h = constant('\\App\\Entity\\SgrEvento::H_FIN_MAX') | date('U') %}	
				{% set step = 60*60 %} {# 3 horas en segundos #}
				{% set setpMinutes = 60 %} {# 3 horas en minutos #}
				
				 
				{% for hour in range(start_h, end_h, step) %}
				
						<th scope="col" >
							<div class="col text-center" ><span >{{ hour|date('H:i') }}</span> - <span>{{ (hour + step)|date('H:i') }}</span></div>
						</th>
				{% endfor %}
				
				
			</tr>
		</thead>
		<tbody>
					
			{% for cod, dia in diasSemana %}
				<tr style="">
					<th scope="row" >
						<div class="col">{{ dia }}</div>
					</th>
				{% for hour in range(start_h, end_h, step) %}	
					<td style="padding: 0px">
						<div class="e" style="position: relative;height: 140px;">
							
							<div style="width:100%;position: absolute;height: 100%;">
								{% for i in range(0,1) %}
									<a href="#newSgrEventoModal" data-remote="{{path('sgr_calendarios_new')}}" data-toggle="modal" data-target="#newSgrEventoModal" data-whatever="@mdo" class="divModal" data-espacio="{{calendario.sgrEspacio.id}}" data-codigodia="{{ cod -1 }}" data-hinicio="{{ hour|date('H:i') }}" data-hfin="{{ (hour+step)|date('H:i') }}">
									<div style="float: left;width: 50%;height: 100%;border-left: 1px dotted gray;"></div>
								</a>	
								{% endfor %}
							</div>
							{% if not calendario.periods is empty %}
								
								{% set bandera = 0 %}
								{% set id = 1 %}
							
								{% for period in calendario.periods %}
							
									{% for codDiaEvento in period.evento.dias %}
							
										{% if codDiaEvento == cod %}	
											{# dump(period) #}
											{% if period.datePeriod.start|date('H:i') >= hour|date('H:i') and period.datePeriod.start|date('H:i') < (hour+step)|date('H:i') %}


											{% set h_inicio =  date( period.datePeriod.start|date('H:i') )  %}
											{% set h_fin =  date( period.datePeriod.end|date('H:i') )  %}
											{% set duration = (h_fin.diff(h_inicio).format('%H')*60 + h_fin.diff(h_inicio).format('%i')) %}
											{% set w = 100*duration / 60 %}
											
											{% set h_cuadrante =  date( hour|date('H:i') )  %}
											{% set diffInMinutes = (h_cuadrante.diff(h_inicio).format('%H')*60 + h_cuadrante.diff(h_inicio).format('%i')) %}
											{% set offset = 100*diffInMinutes / 60 %}
												{% if (bandera == period.datePeriod.start|date('H:i') ~ codDiaEvento) %}
													{# set offset = offset  + 30 #}
													{# set w = w - 30 #}
													{% set id = id + 1 %}
												{% endif %}		
												<div class="evento" data-duration="{{duration}}" 
													data-id="{{id}}" data-bandera={{bandera}} data-hinicio = "{{ period.evento.hInicio|date('U') }}" data-hfin = "{{ period.evento.hFin|date('U') }}" data-idevento="{{period.evento.id}}"
													style="z-index: 2;
													height: 95%;
													width: 100%;
													position:absolute;
													top:0px;
													left:{{ offset }}%;
													background-color: transparent;">
													
													<a  href="javascript:;" data-animation="true" tabindex="0" data-trigger="focus" data-html="true"  data-toggle="popover" title="Información de la Reserva" data-content="<div class='text-center'>
													<p><b>{{ period.evento.titulo }}</b></p>
													<p>{{ period.evento.actividad }}</p>
													<p>{{ period.evento.fInicio|date('d-m-Y') }} - {{ period.evento.fFin|date('d-m-Y') }}</p>
													<p>{{ period.evento.hInicio|date('H:i')}} - {{ period.evento.hFin|date('H:i') }}</p>
													<p>{{ period.evento.getDiasStringFormat|join(', ',' y ') }}</p>
													<p>{{period.evento.espacio}}</p></div>"
													>	
														<div class="badge badge-info text-left" style="width: 100%;height: 100%;border:1px solid white">
			  												<div class="align-middle text-wrap text-truncate">
			  												{{ period.evento.titulo }} 
			  												<span class="text-sm-left text-danger">({{ period.evento.fInicio|date('d-m-Y') }}</span>-<span class="text-sm-right text-danger">{{ period.evento.fFin|date('d-m-Y') }})</span>
			  												</div>
			  													
			  											</div>
		  											</a>
												</div>

												{% set bandera = period.datePeriod.start|date('H:i') ~ codDiaEvento %}
											{% endif %}
										{% endif %}
									{% endfor %}
								{% endfor %}
							{% endif %}
						
						</div>

					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{%endfor%}
	
	{%else%}
		<div class="alert alert-primary p-4" role="alert">
            Seleccione criterios de busqueda... 
        </div>
	{%endif%}

	{# include('sgr_modal/_formNewEvento.html.twig', {form: formNewSgrEvento}) #}
	<div class="modal fade" id="newSgrEventoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newSgrEventoModalLabel">Calendarios: Nuevo Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ... remote content from "data-remote" loads here ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block morescripts %}
	
	<script type="text/javascript">        
		{# Position an resize div.evento#}
		$(function () {
           
           	function excludeEvento(evento, eventosEnfila){

           		return $(eventosEnfila).filter(function(){
           				return $(evento).data('idevento') != $(this).data('idevento');
 	       			});
           	}

           	function getSolapesInternos(evento, otrosEventosEnLafila){

           		return $(otrosEventosEnLafila).filter(function(){

           			return $(this).data('hinicio') > $(evento).data('hinicio') && $(this).data('hfin') <= $(evento).data('hfin');
           		});
           	}

           	function getSolapesParciales(evento, otrosEventosEnLafila){

           		return $(otrosEventosEnLafila).filter(function(){
           			
           			if ($(this).data('hinicio') > $(evento).data('hinicio') && $(this).data('hinicio') < $(evento).data('hfin')){
           			console.log($(evento));
           			console.log($(this));
           			console.log($(evento).data('hinicio'));
           			console.log($(evento).data('hfin'));

           			console.log($(this).data('hinicio'));
           			console.log($(this).data('hfin'));
           			console.log($(this).data('hfin') > $(evento).data('hfin'));
           			}

           			return $(this).data('hinicio') > $(evento).data('hinicio') && $(this).data('hinicio') < $(evento).data('hfin') && $(this).data('hfin') > $(evento).data('hfin');
           		});
           	}

           	var trconeventos = $('tr ').filter(function(){
           		return $(this).find('.evento').length > 0;
           	});

           	$(trconeventos).each(function(index,tr){
           		var eventos = $(tr).find('.evento');
           			$(eventos).each(function(index,evento){
           				$(evento).css('z-index', index + 1);
           				var wtd = $(evento).closest("td").width() + 2; //2 pixels del border del td
                		var duration = $(evento).data('duration');
                		//console.log($(evento));
                		//console.log($(evento).closest("td").width());
                		$(evento).width( (wtd * duration) / 60 );
                
           				//$(this).css('top', $(evento).position().top - 2);

           				//console.log($(div));
           			});
           	});

           	$('tr').each(function(index,tr){
           		
           		//todos los eventos de la fila
           		eventosEnfila = $(tr).find( '.evento');
           		var otrosEventosEnLafila = '';
           		var eventoscontenidos = '';
           		//Para cada evento en la fila
           		$(eventosEnfila).each(function(index, evento){
           			//para cada evento
           			//obtener otros evento en la fila
           			var otrosEventosEnLafila = excludeEvento(evento, eventosEnfila);
           			//obtener eventos contenidos
           			var eventoscontenidos = getSolapesInternos(evento, otrosEventosEnLafila);

           			$(eventoscontenidos).each(function(position){
           				var nuevapositon = $(this).position().top + 20;// - 2;
           				$(this).css('top', nuevapositon);
           				
           				var myHeight = $(this).outerHeight();
           				var myPercentage = (myHeight / $(this).closest('td').height()) * 100;
           				var nuevoPercentage = myPercentage - 20 ;
						
						$(this).outerHeight( nuevoPercentage + '%');
					});

           			var eventosSolapeParcial = getSolapesParciales(evento, otrosEventosEnLafila);
           			
           				console.log('fila+++++');
           				console.log($(eventosSolapeParcial));
           			

           				$(eventosSolapeParcial).each(function(position){
           					var nuevapositon = $(this).position().top + ( 20 * (position+1));
           					$(this).css('top', nuevapositon);

           					var myHeight = $(this).outerHeight();
           					var myPercentage = (myHeight / $(this).closest('td').height()) * 100;
           					var nuevoPercentage = myPercentage - 20 ;
						
							$(this).outerHeight( nuevoPercentage + '%');
           				});
           			
            	});
           	});

           	var tdconvarioseventos = $('td').filter(function(){

           		return $(this).find('.evento').length > 1;
           	});

           	$(tdconvarioseventos).each(function(index,td){

           		$(td).find('.evento').css('height', $(td).height() / $(td).find('.evento').length);
           		$(td).find('.evento').each(function(position,evento){
           			var nuevapositon = $(this).position().top + ( 20 * position) - 2;
           			$(this).css('top', nuevapositon);
           		});
           	});
        });//fin $()function        
		
        
    </script>
	
	<script type="text/javascript">        
		$(function () {
	 		$('[data-toggle="popover"]').popover({
	 			trigger: 'focus',
	 			animation: true,
	 			delay: { "show": 300, "hide": 100 },
	  		});
	 	});
	</script>
	
	<script type="text/javascript" src="/build/formFiltersInput.js"></script>
	<script type="text/javascript" src="/build/datetimepickerInit.js"></script>
	{% if view == 'anual' %}
		<script type="text/javascript" src="/build/datetimepicker-calendarViewYear.js"></script>
	{% endif %}
	{% if view == 'semanal' %}
		<script type="text/javascript" src="/build/datetimepicker-calendarViewWeek.js"></script>
	{% endif %}
    <!-- 
        <script type="text/javascript" src="/reservasfgh/public/build/formFiltersInput.js"></script>
        <script type="text/javascript" src="/reservasfgh/public/build/datetimepickerInit.js"></script>
        <script type="text/javascript" src="/reservasfgh/public/build/datetimepicker-calendarViewCustom.js"></script>

        
    -->

	<script type="text/javascript">

		$('#showMoreFilters').click( function(e){
                e.preventDefault();//     toggle: false
         });

  		$(function() {

    		$('#newSgrEventoModal').on('show.bs.modal', function (e){
    			
    			var button = $(e.relatedTarget);
			    var modal = $(this);
			    var data = {};
			    // load content from value of data-remote url
			    modal.find('.modal-body').load(button.data("remote"),button,function(){
			    	
			    	$('#sgr_filters_sgr_eventos_f_inicio') ? $f_inicio = $('#sgr_filters_sgr_eventos_f_inicio').val() : null;
      				$f_inicio ? $('#sgr_evento_f_inicio').val($f_inicio) : null;

      				$('#sgr_filters_sgr_eventos_f_fin') ? $('#sgr_evento_f_fin').val($('#sgr_filters_sgr_eventos_f_fin').val()) : null;

	      			button.data('espacio') ? $('#sgr_evento_espacio').val(button.data('espacio')) : null; 

	      			$('.sgr_evento_dias').each(function(){ button.prop('checked', false); });
    	  			button.data('codigodia') !== false ? $('#sgr_evento_dias_'+button.data('codigodia')).prop('checked', true) : null;

    	  			button.data('hinicio') ? $('#sgr_evento_h_inicio').val(button.data('hinicio')) : null;
      			
    	  			button.data('hfin') ? $('#sgr_evento_h_fin').val(button.data('hfin')) : null;

    	  			$('#sgr_evento_submit').click(function(e){
    			
    					e.preventDefault();
    					
    					$('form[name="sgr_evento"]').attr('action','/admin/sgr/calendario/ajax/new/evento');
		    			var data = $('form[name="sgr_evento"]').serialize();
		    			$.ajax({
			                url : '/admin/sgr/calendario/ajax/new/evento',
			                type: 'POST',//$form.attr('method'),
			                data : data,
			                success: function(respuesta) {
			                    //console.log(respuesta);
			                    if (respuesta == true){
			                    	modal.hide();
			                    	$('form[name="sgr_filters_sgr_eventos"]').submit();

			                    }
			                    else{
			                    	$('#errors').hide().html(respuesta.content).fadeIn('slow','linear');
			                    	
			                    	//console.log(respuesta);
			                    }

			                },
			                error: function(xhr, ajaxOptions, thrownError){
			                    alert(xhr.responseText + ' (codeError: ' + xhr.status  +')');
			                }
		           		});//fin Ajax
		    		});//fin Sumbit
      			});//fin set values modal
    		});//fin modal show.bs.modal event

    		
    	});
	</script>
{% endblock %}