{% extends 'base.html.twig' %}

{% block title %}SgrEvento Vista Calendarios de ocupación: diaria{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}


{% block body %}
    <h1>Calendarios: Vista diaria</h1>

    <div class="row">
        
        <div class="col-2">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFiltros" aria-expanded="{{ showFilters == 1 ? 'true' : '' }}" aria-controls="collapseFiltros">
                    <i class="fas fa-bars"></i>
                </button>
            </p>
            <div class="collapse {{ showFilters == 1 ? 'show' : '' }}" id="collapseFiltros">
                <div id="filtros">
                    <div class="">
                        {{ include('sgr_form/_formFiltersSrgEvento.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        
        <div id="colCalendar" class="col-{{ showFilters == 1 ? '10' : '12' }}">
            
            {% set diasSemana = {1: 'Lunes', 2:'Martes', 3: 'Miércoles',4: 'Jueves',5: 'Viernes',6: 'Sábado' } %}
            {% if aCalendarios is defined %}
            
            <div class="row mb-3">
            <div class="col-6 content-justify-left text-left float-left">
                {{ include('sgr_calendarios/nav.html.twig') }}
            </div>
            <div class="col-6 text-right float-right text-info">
                Cuadrante de ocupación: <b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b>
            </div>
            </div>
            

            <table class="table table-striped table-bordered">  
        
                <caption class="text-center">

                    Cuadrante de ocupación: <b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b>
                </caption>
        
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><div class="col">#</div></th>
                
                            {% set start_h = constant('\\App\\Entity\\SgrEvento::H_INICIO_MIN') | date('U') %}
                            {% set end_h = constant('\\App\\Entity\\SgrEvento::H_FIN_MAX') | date('U') %}   
                            {% set step = 60*60 %} {# 1 horas en segundos #}
                            {% set setpMinutes = 60 %} {# 3 horas en minutos #}
                            
                 
                            {% for hour in range(start_h, end_h, step) %}
                
                                <th scope="col" style="width: 100px">
                                    <div class="col text-center" ><span >{{ hour|date('H:i') }}</span> - <span>{{ (hour + step)|date('H:i') }}</span></div>
                                </th>
                            {% endfor %}
                    </tr>
                </thead>
                
                <tbody>
                    
                    {% for calendario in aCalendarios %}
                    <tr>
                        <th>{{ calendario.sgrEspacio.nombre }}</th>
                
                        {% for hour in range(start_h, end_h, step) %}
                            <td style="padding: 0px;">
                                
                                <div class="e" style="position: relative;height: 100px;">
                                
                                    <div style="width:100%;position: absolute;min-height: 35px;height: 100%;">
                                    {% for i in range(0,1) %}
                                    	<a class="newEvento" href="{{ path('sgr_calendarios_evento_new', {'espacioId': calendario.sgrEspacio.id, 'f_inicio': data['begin']|date('Y-m-d'), 'h_inicio': (hour + (i*30*60))|date('H:i') } ) }}">
                                        
                                        	<div style="float: left;width: 50%;height: 100%;border-left: 1px dotted gray;">
                                                <span style="display: none"><i class="fas fa-plus-circle"></i> </span>
                                            </div>
                                    	
                                        </a>
                                    {% endfor %}
                                    </div>

                                    {% if not calendario.periods is empty %}
                                
                                        {% for period in calendario.periods %}

                                            {% if period.datePeriod.start|date('H:i') >= hour|date('H:i') and period.datePeriod.start|date('H:i') < (hour+step)|date('H:i') %}
                                
                                                {% set h_inicio =  date( period.datePeriod.start|date('H:i') )  %}
                                                {% set h_fin =  date( period.datePeriod.end|date('H:i') )  %}
                                                {% set duration = (h_fin.diff(h_inicio).format('%H')*60 + h_fin.diff(h_inicio).format('%i')) %}
                                                {% set h_cuadrante =  date( hour|date('H:i') )  %}
                                                {% set diffInMinutes = (h_cuadrante.diff(h_inicio).format('%H')*60 + h_cuadrante.diff(h_inicio).format('%i')) %}
                                                {% set offset = 100*diffInMinutes / 60 %}

                                                    <div class="evento bg-info" data-duration="{{duration}}" style="z-index: 2;left:{{ offset }}%;position:absolute;top:0px;height: 100%;border: 1px solid white">
                                            
                                                        <a  href="javascript:;" data-reservaid = "{{ period.evento.id }}" data-animation="true" tabindex="0" data-trigger="focus" data-html="true"  data-toggle="popover" title="Información de la Reserva" data-content="<div class='text-center'>
                                                            <p><b>{{ period.evento.titulo }}</b></p>
                                                            <p>{{ period.evento.actividad }}</p>
                                                            <p>{{ period.evento.fInicio|date('d-m-Y') }} - {{ period.evento.fFin|date('d-m-Y') }}</p>
                                                            <p>{{ period.evento.hInicio|date('H:i')}} - {{ period.evento.hFin|date('H:i') }}</p>
                                                            <p>{{ period.evento.getDiasStringFormat|join(', ',' y ') }}</p>
                                                            <p>{{period.evento.espacio}}</p></div>
                                                            <div><a class='editarEvento' href='{{ path('sgr_calendario_evento_edit', {'id': period.evento.id}) }}'>Editar</a></div>">   
                                                
                                                            <div class="badge badge-info text-left" style="width: 100%;height: 100%;">
                                                                
                                                                <div class="align-middle text-wrap text-truncate">
                                                                    {{ period.evento.titulo }}
                                                                    <span class="text-sm-left text-danger">({{ period.evento.fInicio|date('d-m-Y') }}</span>-<span class="text-sm-right text-danger">{{ period.evento.fFin|date('d-m-Y') }})</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %} 
                                </div>   
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if filtros %}
            <div class="alert alert-info justify-content-start" role="alert">
                <p>
                    <h3>Filtros aplicados en la busqueda</h3>
                    {% for key, filtro in filtros %}
                        {% if filtro %}
                            <span><b>{{ key|capitalize }}:</b> {{filtro|capitalize}} </span>

                        {% endif %}     
                    {% endfor %}
                </p>
            </div>
            {% endif %}
        
            
            {%else%}
                <div class="alert alert-primary p-4" role="alert">Seleccione criterios de busqueda... </div>
            {%endif%}
        </div>
    </div>


{% endblock %} 

{% block morescripts %}
    
    <script type="text/javascript"> 
        $('.newEvento').hover(
            function(e){

                //$(this).find('span').fadeIn('slow');
            },
            function(e){

                //$(this).find('span').css('display', 'none');
            }
        );
    </script>
    <script type="text/javascript">        
        $(function () {
            $('.evento').each(function(){
                var $wtd = $(this).closest("td").width() + 2; //2 pixels del border del td
                var $duration = $(this).data('duration');
                /*
                    60m => wtd
                    duration => x 
                */
                $(this).width( ($wtd * $duration) / 60 );
                $htd = $(this).closest("td").height();
            });
        });
    </script>

    <script type="text/javascript">        
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus',
                animation: true,
                delay: { "show": 300, "hide": 100 },
            });
        });
    </script>
    
    {# Modify when Upload #}
    <!--
    <script type="text/javascript" src="/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/build/datetimepickerInit.js"></script>
    <script type="text/javascript" src="/build/datetimepicker-calendarViewDay.js"></script>
    --> 
    <script type="text/javascript" src="/reservasfgh/public/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/datetimepickerInit.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/datetimepicker-calendarViewDay.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/calendarios.js"></script>
    
    <script type="text/javascript">

        $(function() {

            $('#showMoreFilters').click( function(e){
                e.preventDefault();//     toggle: false
            });

        });
    </script>

    <script type="text/javascript">        
        $(function () {
            $('div.evento a').hover(
                    function() {
                        var reservaid = $( this ).data('reservaid');
                        $( '[data-reservaid="'+reservaid+'"]' ).children('div.badge').removeClass('bg-info').addClass('bg-primary');
                    }, 
                    function() {
                        var reservaid = $( this ).data('reservaid');
                        $( '[data-reservaid="'+reservaid+'"]' ).children('div.badge').removeClass('bg-primary').addClass('bg-info');
                    });
        });
    </script>

    <script type="text/javascript">

        $("#datetimepicker-fi").on("change.datetimepicker", function (e) {
        	
        	if (window.sessionStorage) 
        	{	
            		ui = JSON.parse( sessionStorage.getItem("ui") );
            		ui.fInicio = e.date.format('DD/MM/Y');
            		sessionStorage.setItem("ui",JSON.stringify(ui));
        	}

            if (e.oldDate != null){
                $('form').attr('action');
                $('form[name="sgr_filters_sgr_eventos"]').submit();
            }
        });

        $('button#hoy').on('click',function(){
        
            $('#datetimepicker-fi').datetimepicker( 'date', moment(new Date()).locale('es').format('DD/MM/Y') );
            $('#sgr_filters_sgr_eventos_f_inicio').val( moment(new Date()).locale('es').format('DD/MM/Y') );    
        });

        $('button#nextDay').on('click',function(){
        
            var date = $('#datetimepicker-fi').datetimepicker( 'date' );
            $('#datetimepicker-fi').datetimepicker( 'date', date.add(1, 'days').format('DD/MM/Y') );
            $('#sgr_filters_sgr_eventos_f_inicio').val( 'date', date.add(1, 'days').format('DD/MM/Y') );    
        });

        $('button#prevDay').on('click',function(){
        
            var date = $('#datetimepicker-fi').datetimepicker( 'date' );
            $('#datetimepicker-fi').datetimepicker( 'date', date.subtract(1, 'days').format('DD/MM/Y') );
            $('#sgr_filters_sgr_eventos_f_inicio').val( date.subtract(1, 'days').format('DD/MM/Y') );    
        });

    </script>
{% endblock %}