{% extends 'base.html.twig' %}

{% block title %}SgrEvento Vista Calendarios de ocupación: Semanal{% endblock %}

{% block stylesheets %}
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
    {# Modify when Upload #}

    <!--<link rel="stylesheet" href="/build/calendar.css">-->
    <link href="/reservasfgh/public/build/calendar.css" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <h1>Calendarios: Vista mensual</h1>

    {# //CSS classes #} 
    {% set css_cal = 'calendar' %}
    {% set css_cal_row = 'calendar-row' %}
    {% set css_cal_day_head = 'calendar-day-head' %}
    {% set css_cal_day = 'calendar-day' %}
    {% set css_cal_day_number = 'day-number' %}
    {% set css_cal_day_blank = 'calendar-day-np' %}
    {% set css_cal_day_event = 'calendar-day-event' %}
    {% set css_cal_event = 'calendar-event' %}

    {# //Table headings #}
    {% set headings = ['L', 'M', 'X', 'J', 'V', 'S', 'D'] %}
    
    <div class="row">
       
        <!-- col-2 -->
        <div class="col-2">
            <p>
                <button  class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFiltros" aria-expanded="{{ showFilters == 1 ? 'true' : '' }}" aria-controls="collapseFiltros">
                    <i class="fas fa-bars"></i>
                </button>
            </p>

            <div class="collapse {{ showFilters == 1 ? 'show' : '' }}" id="collapseFiltros">
                <div id="filtros">
                    <div class="">
                        {{ include('sgr_form/_formFiltersSrgEvento.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        <!-- col-10 -->
        <div id="colCalendar" class="col-{{ showFilters == 1 ? '10' : '12' }}">

            <div class="row mb-3">
                
                <div class="col-6">
                    
                    <div class="content-justify-left text-left float-left">
                        {{ include('sgr_calendarios/nav.html.twig') }}
                    
                    </div>

                    <div class="content-justify-left text-left float-left ml-1">
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-calendar mr-1"></i>Vista
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <a class="dropdown-item changeView"  href="{{ path('sgr_calendarios_vista', {view: 'diaria', action: 'show', f_inicio: data['begin']|date('Y-m-d') } ) }}">Diaria</a>
                                <a class="dropdown-item changeView" href="{{ path('sgr_calendarios_vista', {view: 'semanal', action: 'show', f_inicio: data['begin']|date('Y-m-d') } ) }}">Semanal</a>
                                <a class="dropdown-item changeView" href="{{ path('sgr_calendarios_vista', {view: 'mensual', action: 'show', f_inicio: data['begin']|date('Y-m-d') } ) }}">Mensual</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 text-left text-info mt-2">
                
                    Cuadrante de ocupación: Desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b>
                </div>
            </div>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for key, calendario in aCalendarios %}
                <li class="nav-item">
                    {% set active = '' %}
                    {% set selected = 'false' %}
                    {% if tabActive is defined and calendario.sgrEspacio.id == tabActive %}
                        {% set active = 'active' %}
                        {% set selected = 'true' %} 
                    {% endif %}
                    <a class="nav-link {{ active }}" id="home-tab-{{ calendario.sgrEspacio.id }}" data-toggle="tab" data-idpanel="{{ calendario.sgrEspacio.id }}" href="#{{ calendario.sgrEspacio.id }}" role="tab" aria-controls="{{ calendario.sgrEspacio.id }}" aria-selected="{{ selected }}">{{ calendario.sgrEspacio.nombre }} <small><span class="badge badge-pill badge-success" style="font-size: 0.6em;">{{ calendario.periods.count }}</span></small></a> 
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
                {% for key, calendario in aCalendarios %}
                    {% set active='' %}
                    {% if tabActive is defined and calendario.sgrEspacio.id == tabActive %}
                        {% set active = 'show active' %} 
                    {% endif %}

                    {# // Start: draw table #}
                    <div class="tab-pane fade {{ active }}" id="{{ calendario.sgrEspacio.id }}" role="tabpanel" aria-labelledby="home-tab" data-idpanel="{{ calendario.sgrEspacio.id }}"> 
                    <table class='table table-striped table-bordered {{ css_cal }} table-pane'>
                        
                        <caption class="text-center">

                                Cuadrante de ocupación: Desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b> ({# calendario.sgrEspacio.nombre #}) 
                        </caption>
                        <thead class="thead-dark">
                            <tr class='{{ css_cal_row }}'>
                                    
                                    {% for head  in headings %}
                                        <th class='{{ css_cal_day_head }}' style="width: 200px;">{{ head }}</th>
                                    {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {# // Days and weeks #}
                        {% set running_day = (year ~ '-' ~ month ~ '-1') | date('N') %}
                        {% set days_in_month = (year ~ '-' ~ month ~ '-1') | date('t') %}

                        {# // Row for week one #}
                        <tr class='{{ css_cal_row }}'>
                        
                            {# // Print "blank" days until the first of the current week #}
                            {% if running_day > 1 %}
                                {% for x in range(1, (running_day-1)) %}
                                    <td class='{{ css_cal_day_blank }}'> </td>
                                {% endfor %}
                            {% endif %}
                            {# // Keep going with days...#}
                            
                            {% for day in 1..days_in_month %}

                                {# // Check if there is an event today #}
                                {% set draw_event = false %}
                                {% if events is defined %} {# and events[cur_date] is defined  #}
                                    {% set draw_event = true %}
                                {% endif %}

                                {# // Day cell #}
                                    
                                    {% if draw_event %}
                                        <td class=''>
                                    {% else %}
                                        <td class='{{ css_cal_day }}' style="height: 130px;">
                                    {% endif %}
                                        
                                            <div class="e" style="height: Calc(100% - 25px);margin-bottom: 5px">
                                            <div class="es">
                                            {# // Insert an event for this day #}
                                            {% set reservas = 0 %}
                                            {% set cur_date = year ~ '-' ~ month ~ '-' ~ day %}
                                                {% for key, period in calendario.periods %}
                                                    {% if reservas < 4 %}
                                                                {# dump( period.evento.dias ) #}
                                                                {# dump( cur_date|date('d') ) #}
                                                                {% if period.evento.finicio|date('Y-m-d')|date('U') <= cur_date|date('Y-m-d')|date('U') and cur_date|date('Y-m-d')|date('U') <= period.evento.ffin|date('Y-m-d')|date('U') and cur_date|date('N') in period.evento.dias %}
                                                                    {% set reservas = reservas + 1 %}
                                                                    {#tabindex="{{ period.evento.titulo }}" #}
                                                                    <a  href="javascript:;" 
                                                                        data-reservaid = "{{ period.evento.id }}"
                                                                        data-animation="true"
                                                                        tabindex="0" 
                                                                        data-trigger="focus"
                                                                        data-html="true"
                                                                        data-toggle="popover"
                                                                        title="Información de la Reserva" 
                                                                        data-content="<div class='text-center p-3'>
                                                                        <p><b>{{ period.evento.titulo }}</b></p>
                                                                        <p>{{ period.evento.actividad }}</p>
                                                                        <p>{{ period.evento.fInicio|date('d-m-Y') }} - {{ period.evento.fFin|date('d-m-Y') }}</p>
                                                                        <p>{{ period.evento.hInicio|date('H:i')}} - {{ period.evento.hFin|date('H:i') }}</p>
                                                                        <p>{{ period.evento.getDiasStringFormat|join(', ',' y ') }}</p>
                                                                        <p>{{period.evento.espacio}}</p></div>
                                                                        <div><a class='editarEvento' href='{{ path('sgr_calendario_evento_edit', {'id': period.evento.id}) }}'>Editar</a></div>"

                                                                        style="width: 240px; height: 24px;border:1px solid white;text-align: left;" 
                                                                        role="button" 
                                                                        class=" text-truncate m-0 p-0 pl-1 btn btn-sm btn-info visible"
                                                                        data-container="body"
                                                                    >
                                                                    
                                                                    {{ period.evento.titulo }} 
                                                                    
                                                                    {# <small><span class="text-sm-left">({{ period.evento.hInicio|date('H:i') }}</span>-<span class="text-sm-right">{{ period.evento.fFin|date('H:i') }})</span></small>#}
                                                                        </a>
                                                                {% endif %}        
                                                    {% else %}
                                                        {% if period.datePeriod.getStartDate|date('Y-m-d') == cur_date|date('Y-m-d') %}
                                                            {% set reservas = reservas + 1 %}
                                                            <a  style="display: none;clear: both;"
                                                                href="javascript:;" 
                                                                    style="width: 100%;height: 100%;border:1px solid white;" 
                                                                    role="button" 
                                                                    class="m-0 p-0 btn btn-sm btn-info oculto"
                                                                    
                                                                    data-container="body"
                                                                    data-animation="true" 
                                                                    tabindex="{{ period.evento.titulo }}" 
                                                                    data-trigger="focus"
                                                                    data-html="true"
                                                                    data-toggle="popover"
                                                                    title="Información de la Reserva" 
                                                                    data-content="<div class='text-center p-3'>
                                                                        <p><b>{{ period.evento.titulo }}</b></p>
                                                                        <p>{{ period.evento.actividad }}</p>
                                                                        <p>{{ period.evento.fInicio|date('d-m-Y') }} - {{ period.evento.fFin|date('d-m-Y') }}</p>
                                                                        <p>{{ period.evento.hInicio|date('H:i')}} - {{ period.evento.hFin|date('H:i') }}</p>
                                                                        <p>{{ period.evento.getDiasStringFormat|join(', ',' y ') }}</p>
                                                                        <p>{{period.evento.espacio}}</p></div>
                                                                        <div><a class='editarEvento' href='{{ path('sgr_calendario_evento_edit', {'id': period.evento.id}) }}'>Editar</a></div>"
                                                                    >
                                                                    
                                                                    {{ period.evento.titulo }} 
                                                                    
                                                                    {# <small><span class="text-sm-left">({{ period.evento.hInicio|date('H:i') }}</span>-<span class="text-sm-right">{{ period.evento.fFin|date('H:i') }})</span></small> #}
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            </div>
                                            {% if reservas > 4 %}
                                                
                                                <a   class="text-success rounded-circle mr-1 showMore" href="javascript:;"> 
                                                    +{{ reservas - 4 }}
                                                </a>
                                            {% endif %}
                                            {# // Add the day number #}
                                            {% if running_day != 7 %}
                                                <a  href="{{ path('sgr_calendarios_evento_new', {'espacioId': calendario.sgrEspacio.id, 'f_inicio': cur_date|date('Y-m-d') } ) }}"><i class="far fa-calendar-plus"></i></a>
                                            {% endif %}
                                            <div class='{{ css_cal_day_number }}'> <small>{{ day }}</small></div>
                                        {# // Close day cell #}
                                        
                                        </td>
                                {# end draw cell #}    
                                
                                {#// New row #}
                                    {% if running_day == 7 %}
                                        </tr>
                                        {% if ( (day + 1) <= days_in_month ) %}
                                            <tr class='{{ css_cal_row}}'>
                                        {% endif %}
                                        {% set running_day = 1 %}
                                    {% else %}
                                    
                                        {# // Increment the running day #}
                                        {% set running_day = running_day + 1 %}
                                    {% endif %}
                                {# end new row#}
                            {% endfor %} {#// for day #}

                            {# // Finish the rest of the days in the week #}
                            {% if running_day != 1 %}
                                {% for x in range(running_day, 7) %}
                                    <td class='{{ css_cal_day_blank }}'> </td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        {# // Final row #}
                        </tbody>
                    {# // End the table #}
                    </table>
                    </div>
                {% endfor %}
            </div>  
            
            {% if filtros %}
            <div class="alert alert-info justify-content-start" role="alert">
                <p>
                    <h3>Filtros aplicados en la busqueda</h3>
                    {% for key, filtro in filtros %}
                        {% if filtro%}
                            <span><b>{{ key|capitalize }}:</b> {{filtro|capitalize}} </span>
                        {% endif %}     
                    {% endfor %}
                </p>
            </div>
            {% endif %}
    </div>
{% endblock%}

{% block morescripts %}
    <script type="text/javascript" src="/reservasfgh/public/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/datetimepickerInit.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/datetimepicker-calendarViewMonth.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/calendarios.js"></script>

    <script type="text/javascript"> 
       $('.changeView').on('click',function(e){

           /* e.preventDefault();
            var f_inicio = $('#datetimepicker-fi').datetimepicker( 'date').format('Y-MM-DD');
            var url = $(this).attr('href');
            var newUrl = url + '/' + f_inicio;

            window.location.href = newUrl; */
        });
    </script>

    <script type="text/javascript">        
        
        $(function () {
            
            $('a.showMore').on('click',function(e){
                
                e.preventDefault();
                e.stopPropagation();
                var td = $(this).closest('td');
                //console.log($(td).height());
                $(td).children('div.e').css('position', 'absolute').css('height','unset').css('z-index', 5).css('padding','20px').css('background-color','#eee').css('top', 0);
                console.log($(td).find('a.oculto'));//
                $(td).find('a.oculto').css('display','block');
                $(td).find('a.visible').css('width','100%');
                $(td).find('a.oculto').css('width','100%');
                
                //console.log($(td).children('div.e').offset().top);
            });

            $('td').on('mouseleave',function(e){

                $(this).find('a.visible').css('width','240px');
                $(this).find('a.oculto').css('width','240px');
                $(this).find('a.oculto').each(function(e){
                    $(this).fadeOut();
                    $(this).css('width','200px');
                });
                $(this).children('div.e').css('height', $(this).height() - 25 ).css('padding','0px').css('background-color','transparent').css('position','unset').css('z-index', 0); 
                //$(this).find('[data-toggle="popover"]').popover('hide');
            });


        });
    </script>

    <script type="text/javascript">        
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus',
                animation: true,
                delay: { "show": 300, "hide": 100 },
            });
        });
    </script>
    
    <script type="text/javascript">        

    </script>

    <script type="text/javascript">        
        $(function () {
            $('div.es a').hover(
                    function() {
                        var reservaid = $( this ).data('reservaid');
                        $( '[data-reservaid="'+reservaid+'"]' ).removeClass('btn-info').addClass('btn-primary');
                    }, 
                    function() {
                        var reservaid = $( this ).data('reservaid');
                        $( '[data-reservaid="'+reservaid+'"]' ).removeClass('btn-primary').addClass('btn-info');
                    });
        });
        
    </script>
    
    <script type="text/javascript">

        $("#datetimepicker-fi").on("change.datetimepicker", function (e) {
        
            if (e.oldDate != null)
                $('form[name="sgr_filters_sgr_eventos"]').submit();
        });

        $('#thisMonth').on('click',function(){
            
            //set f_inicio
            $('#datetimepicker-fi').datetimepicker( 'date', moment().locale('es').startOf('month').format('DD/MM/YYYY') );
            $('#sgr_filters_sgr_eventos_f_inicio').val( moment().locale('es').startOf('month').format('DD/MM/YYYY') );
        });

        $('#nextMonth').on('click',function(){
        
            var date = $('#datetimepicker-fi').datetimepicker( 'date' ).locale('es').add( 1, 'months' );
            
            //set f_inicio
            $('#datetimepicker-fi').datetimepicker( 'date', date.locale('es').startOf('month').format('DD/MM/YYYY') );
            $('#sgr_filters_sgr_eventos_f_inicio').val( date.locale('es').startOf('month').format('DD/MM/YYYY') );
        });

        $('#prevMonth').on('click',function(){
            
            var date = $('#datetimepicker-fi').datetimepicker( 'date' ).locale('es').subtract( 1, 'months' );
            
            //set f_inicio
            $('#datetimepicker-fi').datetimepicker( 'date', date.locale('es').startOf('month').format('DD/MM/YYYY') );
            $('#sgr_filters_sgr_eventos_f_inicio').val( date.locale('es').startOf('month').format('DD/MM/YYYY') );
        });
    </script>

     <script type="text/javascript">
        
        $('#myTab a.nav-link').on('click',function(e){
            
            if (window.sessionStorage) {
                ui = JSON.parse( sessionStorage.getItem("ui") );
                ui.tabActive = $( this ).data('idpanel');
                sessionStorage.setItem("ui",JSON.stringify(ui));  
            }
           
            $('input[name="sgr_filters_sgr_eventos[ui]"]').val(JSON.stringify(ui));

            //var data = { tabActive : $( this ).data('idpanel') };
            console.log( $( this ).data('idpanel') );
            var idpanel = $( this ).data('idpanel');
            $.ajax({
                url : '/reservasfgh/admin/sgr/calendario/ajax/setTabActive',
                type: 'GET',
                data : { tabActive : idpanel },
                success: function(respuesta) {},
                error: function(xhr, ajaxOptions, thrownError){
                            alert(xhr.responseText + ' (codeError: ' + xhr.status  +')');
                        }
            });//fin Ajax
           
            console.log('tab');
            console.log(JSON.stringify(ui));
            console.log($('input[name="sgr_filters_sgr_eventos[ui]"]').val());
        });
    </script>
{% endblock %}