{% extends 'base.html.twig' %}

{% block title %}SgrEvento index{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="/build/calendar.css">
    
    {# Upload change #}
    <!--
        <link href="/reservasfgh/public/build/calendar.css" rel="stylesheet">
    -->
{% endblock %}

{% block body %}
    
    <h1>Calendarios</h1>

    {# //CSS classes #} 
    {% set css_cal = 'calendar' %}
    {% set css_cal_row = 'calendar-row' %}
    {% set css_cal_day_head = 'calendar-day-head' %}
    {% set css_cal_day = 'calendar-day' %}
    {% set css_cal_day_number = 'day-number' %}
    {% set css_cal_day_blank = 'calendar-day-np' %}
    {% set css_cal_day_event = 'calendar-day-event' %}
    {% set css_cal_event = 'calendar-event' %}

    {# //Table headings #}
    {% set headings = ['L', 'M', 'X', 'J', 'V', 'S', 'D'] %}
    
    {% for calendario in aCalendarios %}
        <h2>{{ calendario.sgrEspacio.nombre }}</h2>
        <div class="row">
            <div class="col-6 justify-content-start" >
                <p>

                    Ocupaci칩n desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b>
                </p>
            </div>
            <div class=col-6>
                {{ include('sgr_calendarios/nav.html.twig') }}
            </div>
        </div>
        {# // Start: draw table #} 
        <table class=' table table-striped table-bordered {{ css_cal }}'>
            
            <caption class="text-center">

                    Cuadrante de ocupaci칩n: Desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b> ({# calendario.sgrEspacio.nombre #}) 
            </caption>
            <thead class="thead-dark">
                <tr class='{{ css_cal_row }}'>
                        
                        {% for head  in headings %}
                            <th class='{{ css_cal_day_head }}'>{{ head }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# // Days and weeks #}
            {% set running_day = (year ~ '-' ~ month ~ '-1') | date('N') %}
            {% set days_in_month = (year ~ '-' ~ month ~ '-1') | date('t') %}

            {# // Row for week one #}
            <tr class='{{ css_cal_row }}'>
            
                {# // Print "blank" days until the first of the current week #}
                {% if running_day > 1 %}
                    {% for x in range(1, (running_day-1)) %}
                        <td class='{{ css_cal_day_blank }}'> </td>
                    {% endfor %}
                {% endif %}
                {# // Keep going with days...#}
                
                {% for day in 1..days_in_month %}

                    {# // Check if there is an event today #}
                    {# set cur_date = year ~ '-' ~ month ~ '-' ~ day #}
                    {% set draw_event = false %}
                    {% if events is defined %} {# and events[cur_date] is defined  #}
                        {% set draw_event = true %}
                    {% endif %}

                    {# // Day cell #}
                        {% if draw_event %}
                            <td class=''>
                        {% else %}
                            <td class='{{ css_cal_day }}' style="height: 130px">
                        {% endif %}
            
                                {# // Add the day number #}
                                <div class='{{ css_cal_day_number }}'> <small>{{ day }}</small></div>

                                <div class="e" style="height: Calc(100% - 25px);overflow-y: hidden;margin-bottom: 5px">
                                <div class="es">
                                {# // Insert an event for this day #}
                                {% for period in calendario.periods %}
                                    <div class="evento" data-hinicio = "{{ period.evento.hInicio|date('U') }}" data-hfin = "{{ period.evento.hFin|date('U') }}" data-idevento="{{period.evento.id}}" style="width: 100%;background-color: transparent;">

                                        <a  href="javascript:;" class="m-0" data-animation="true" tabindex="0" data-trigger="focus" data-html="true"  data-toggle="popover" title="Informaci칩n de la Reserva" data-content="<div class='text-center p-3'>
                                                <p><b>{{ period.evento.titulo }}</b></p>
                                                <p>{{ period.evento.actividad }}</p>
                                                <p>{{ period.evento.fInicio|date('d-m-Y') }} - {{ period.evento.fFin|date('d-m-Y') }}</p>
                                                <p>{{ period.evento.hInicio|date('H:i')}} - {{ period.evento.hFin|date('H:i') }}</p>
                                                <p>{{ period.evento.getDiasStringFormat|join(', ',' y ') }}</p>
                                                <p>{{period.evento.espacio}}</p></div>"
                                        >

                                            <div class="alert alert-info text-left p-0 m-0" role="alert" style="width: 100%;height: 100%;border:1px solid white">
                                                <div class="align-middle text-wrap text-truncate pl-1">
                                                    {{ period.evento.titulo }} 
                                                    <span class="text-sm-left text-danger">({{ period.evento.hInicio|date('H:i') }}</span>-<span class="text-sm-right text-danger">{{ period.evento.fFin|date('H:i') }})</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                                </div>
                                </div>
                                {% if calendario.periods|length > 5 %}
                                    
                                    <a  href="javascript:;" class="showMore"> 
                                        {{ (calendario.periods|length) - 5 }} m치s
                                    </a>
                                {% endif %}

                            {# // Close day cell #}
                            </td>
                    {# end draw cell #}    
                    
                    {#// New row #}
                        {% if running_day == 7 %}
                            </tr>
                            {% if ( (day + 1) <= days_in_month ) %}
                                <tr class='{{ css_cal_row}}'>
                            {% endif %}
                            {% set running_day = 1 %}
                        {% else %}
                        
                            {# // Increment the running day #}
                            {% set running_day = running_day + 1 %}
                        {% endif %}
                    {# end new row#}
                {% endfor %} {#// for day #}

                {# // Finish the rest of the days in the week #}
                {% if running_day != 1 %}
                    {% for x in range(running_day, 7) %}
                        <td class='{{ css_cal_day_blank }}'> </td>
                    {% endfor %}
                {% endif %}
            </tr>
            {# // Final row #}
            </tbody>
        {# // End the table #}
        </table>
    {% endfor %}
    {{ dump(aCalendarios) }}
{% endblock%}

{% block morescripts %}
    
    <script type="text/javascript">        
        $(function () {
            
            $('a.showMore').on('click',function(e){
                
                e.preventDefault();
                e.stopPropagation();
                var td = $(this).closest('td');
                console.log($(td).height());
                $(td).children('div.e').css('position', 'absolute').css('height','unset').css('z-index', 5).css('padding','20px').css('background-color','#eee').css('top', 0);
                //console.log($(td).children('div.e').offset().top);
            });

            $('td').on('mouseleave',function(e){

                var td = $(this).closest('td');
                console.log($(this).height() - 25);
                $(this).children('div.e').css('height', $(this).height() - 25 ).css('padding','0px').css('background-color','transparent').css('position','unset').css('z-index', 0);//.css('top','unset'); 
            });

            $('[data-toggle="popover"]').on('click',function(e){
               var td = $(this).closest('td');
               $(td).off('mouseleave'); 
            })
        });
    </script>

    <script type="text/javascript">        
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus',
                animation: true,
                delay: { "show": 300, "hide": 100 },
            });
        });
    </script>
{% endblock %}