{% extends 'base.html.twig' %}

{% block title %}SgrTitulacion index{% endblock %}

{% block body %}
    <h1>SgrTitulacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_titulacion in sgr_titulacions %}
            <tr>
                <td>{{ sgr_titulacion.id }}</td>
                <td>{{ sgr_titulacion.codigo }}</td>
                <td>{{ sgr_titulacion.nombre }}</td>
                <td>{{ sgr_titulacion.tipo }}</td>
                <td>
                    <a href="{{ path('sgr_titulacion_show', {'id': sgr_titulacion.id}) }}">show</a>
                    <a href="{{ path('sgr_titulacion_edit', {'id': sgr_titulacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sgr_titulacion_new') }}">Create new</a>
{% endblock %}
