{% extends 'base.html.twig' %}

{% block title %}Sgr: Tipos de actividades{% endblock %}

{% block body %}
    <h1>Sgr: Actividades</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Actividad</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_tipo_actividad in sgr_tipo_actividads %}
            <tr>
                <td>{{ sgr_tipo_actividad.id }}</td>
                <td>{{ sgr_tipo_actividad.actividad }}</td>
                <td>{{ sgr_tipo_actividad.descripcion }}</td>
                <td>
                    <a class="btn btn-secondary" type="button" href="{{ path('sgr_tipo_actividad_show', {'id': sgr_tipo_actividad.id}) }}">Ver</a>
                    <a class="btn btn-primary" type="button" href="{{ path('sgr_tipo_actividad_edit', {'id': sgr_tipo_actividad.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" type="button" href="{{ path('sgr_tipo_actividad_new') }}">Nueva actividad</a>
{% endblock %}
