{% extends 'base.html.twig' %}

{% block title %}SgrAsignatura index{% endblock %}

{% block body %}
    <h1>Asignaturas</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cuatrimestre</th>
                <th>Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_asignatura in sgr_asignaturas %}
            <tr>
                <td>{{ sgr_asignatura.id }}</td>
                <td>{{ sgr_asignatura.codigo }}</td>
                <td>{{ sgr_asignatura.nombre }}</td>
                <td>{{ sgr_asignatura.cuatrimestre }}</td>
                <td>{{ sgr_asignatura.curso }}</td>
                <td>
                    <a class="btn btn-secondary" type="button" href="{{ path('sgr_asignatura_show', {'id': sgr_asignatura.id}) }}">Ver</a>
                    <a class="btn btn-primary" type="button" href="{{ path('sgr_asignatura_edit', {'id': sgr_asignatura.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay asignaturas definidas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" type="button" href="{{ path('sgr_asignatura_new') }}">Nueva asignatura</a>
{% endblock %}
