{% extends 'base.html.twig' %}

{% block title %}Sgr: Asignaturas{% endblock %}

{% block body %}
    <h1>Asignaturas</h1>
    
    <a class="btn btn-primary m-2" type="button" href="{{ path('sgr_asignatura_new') }}">Nueva asignatura</a>
    <a class="btn btn-secondary m-2" type="button" href="{{ path('sgr_grupo_asignatura_index') }}"> Gestionar Grupos</a>


    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Grupo: Profesor/es</th>
                <th>Cuatrimestre</th>
                <th>Curso</th>
                <th>Titulación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_asignatura in sgr_asignaturas %}
            <tr>
                <td>{{ sgr_asignatura.id }}</td>
                <td>{{ sgr_asignatura.codigo }}</td>
                <td>{{ sgr_asignatura.nombre }} </td>
                <td>{% for grupo in sgr_asignatura.grupos %} 
                        Grupo {{grupo.nombre}}: 
                        {{grupo.sgrprofesors|join(', ',' y ')}} 
                    {%endfor%}
                </td>
                <td>{{ sgr_asignatura.cuatrimestre }}</td>
                <td>{{ sgr_asignatura.curso }}</td>
                <td> {{sgr_asignatura.sgrTitulacion}}</td>
                <td>
                    <a class="btn btn-secondary m-1" type="button" href="{{ path('sgr_asignatura_show', {'id': sgr_asignatura.id}) }}">Ver</a>
                    <a class="btn btn-primary m-1" type="button" href="{{ path('sgr_asignatura_edit', {'id': sgr_asignatura.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay asignaturas definidas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
