{% extends 'base.html.twig' %}

{% block title %}SgrAsignatura{% endblock %}

{% block body %}
    <h1>Asignatura</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgr_asignatura.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ sgr_asignatura.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sgr_asignatura.nombre }}</td>
            </tr>
            <tr>
                <th>Cuatrimestre</th>
                <td>{{ sgr_asignatura.cuatrimestre }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ sgr_asignatura.curso }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-4">
        <a class="btn btn-primary mb-2" href="{{ path('sgr_asignatura_edit', {'id': sgr_asignatura.id}) }}">Editar</a><br />
        <a href="{{ path('sgr_asignatura_index') }}">Volver a la lista</a>
    </div>
    {{ include('sgr_asignatura/_delete_form.html.twig') }}
{% endblock %}
