{% extends 'base.html.twig' %}

{% block title %}Sgr: editar evento{% endblock %}

{% block stylesheets %}
    
    <link href="/build/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/build/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">

    <!-- 
    
    <link href="/reservasfgh/public/build/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/reservasfgh/public/build/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet">
    
    -->
{% endblock %}

{% block body %}
    <h1>Editar Evento</h1>
    {% for label, messages in app.flashes %}
    	{% for message in messages %}
        	<div class="alert alert-{{ label }}" role="alert">
            	{{ message }}
        	</div>
    	{% endfor %}
	{% endfor %}

    {{ include('sgr_evento/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('sgr_evento_index') }}">Volver a la lista</a>

    {{ include('sgr_evento/_delete_form.html.twig') }}
{% endblock %}
