{% extends 'base.html.twig' %}

{% block title %}SgrEvento index{% endblock %}

{% block body %}
    <h1>SgrEvento index</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Estado</th>
                <th>F_inicio</th>
                <th>F_fin</th>
                <th>Días</th>
                <th>H_inicio</th>
                <th>H_fin</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_evento in sgr_eventos %}
            <tr>
                <td>{{ sgr_evento.id }}</td>
                <td>{{ sgr_evento.titulo }}</td>
                <td>{{ sgr_evento.estado }}</td>
                <td>{{ sgr_evento.fInicio ? sgr_evento.fInicio|date('Y-m-d') : '' }}</td>
                <td>{{ sgr_evento.fFin ? sgr_evento.fFin|date('Y-m-d') : '' }}</td>
                <td>{{ sgr_evento.dias|join(', ',' y ')}} </td>
                <td>{{ sgr_evento.hInicio ? sgr_evento.hInicio|date('H:i:s') : '' }}</td>
                <td>{{ sgr_evento.hFin ? sgr_evento.hFin|date('H:i:s') : '' }}</td>
                <td>{{ sgr_evento.createdAt ? sgr_evento.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sgr_evento.updatedAt ? sgr_evento.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sgr_evento_show', {'id': sgr_evento.id}) }}">show</a>
                    <a href="{{ path('sgr_evento_edit', {'id': sgr_evento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sgr_evento_new') }}">Create new</a>
{% endblock %}
