{% extends 'base.html.twig' %}

{% block title %}Sgr: Eventos{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    <h1>Eventos</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <!-- Collapse buttons by filters -->
    <p>
        <a class="btn btn-info" data-toggle="collapse" href="#Filtros" aria-expanded="false" aria-controls="Filtros">
           <i class="far fa-eye"></i> Ver filtros
        </a>
    </p>
    <!-- / Collapse buttons -->

    <!-- Collapsible element -->
    <div class="collapse" id="Filtros">
        <div class="mt-3 mb-3">
            {{ include('sgr_form/_formFiltersSrgEvento.html.twig', {'button_label': 'Filtrar eventos'}) }}
        </div>
    </div>
    <!-- / Collapsible element -->    
    

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Actividad</th>
                <th>Recurso</th>
                <th>F_inicio</th>
                <th>F_fin</th>
                <th>Día/s</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Estudios</th>
                <!--<th>CreatedAt</th>-->
                <!--<th>UpdatedAt</th>-->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {# dump(pagination) #}
        {% for sgr_evento in pagination %}
            <tr>
                <td>{{ sgr_evento.id }}</td>
                <td>{{ sgr_evento.titulo }}</td>
                <td>{{ sgr_evento.actividad }}</td>
                <td>{{ sgr_evento.espacio }}</td>
                <td>{{ sgr_evento.fInicio ? sgr_evento.fInicio|date('d-m-Y') : '' }}</td>
                <td>{{ sgr_evento.fFin ? sgr_evento.fFin|date('d-m-Y') : '' }}</td>
                <td>{{ sgr_evento.getDiasStringFormat|join(', ',' y ') }} </td>
                <td>{{ sgr_evento.hInicio ? sgr_evento.hInicio|date('H:i') : '' }}</td>
                <td>{{ sgr_evento.hFin ? sgr_evento.hFin|date('H:i') : '' }}</td>
                <td>{% if sgr_evento.asignatura %}{{ sgr_evento.asignatura }}{% endif %} {% if sgr_evento.grupoAsignatura %}- Gpr -{{ sgr_evento.grupoAsignatura }} {% endif %} {% if sgr_evento.profesor %} - {{ sgr_evento.profesor }} {% endif %}</td>
                <!--<td>{{ sgr_evento.createdAt ? sgr_evento.createdAt|date('Y-m-d H:i:s') : '' }}</td>-->
                <!--<td>{{ sgr_evento.updatedAt ? sgr_evento.updatedAt|date('Y-m-d H:i:s') : '' }}</td>-->
                
                <td>
                    <a class="btn btn-secondary m-1" type="button" href="{{ path('sgr_evento_show', {'id': sgr_evento.id}) }}"> Ver </a>
                    <a class="btn btn-primary m-1" type="button" href="{{ path('sgr_evento_edit', {'id': sgr_evento.id}) }}"> Editar </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">No se encontraron eventos...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        Total de eventos: {{ pagination.getTotalItemCount }}    
    </div>
    <div>
    {{ knp_pagination_render(pagination) }}
    </div>


    <a class="btn btn-primary" type="button" href="{{ path('sgr_evento_new') }}">Nuevo evento</a>
{% endblock %}

{% block morescripts %}
    <script type="text/javascript" src="/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/build/datetimepickerInit.js"></script>
    <script type="text/javascript" src="/build/datetimepicker-eventoViews.js"></script>

    
    <!-- 
        <script type="text/javascript" src="/reservasfgh/public/build/formFiltersInput.js"></script>
        <script type="text/javascript" src="/reservasfgh/public/build/datetimepickerInit.js"></script>
        <script type="text/javascript" src="/reservasfgh/public/build/datetimepicker-eventoViews.js"></script>

        
    -->
{% endblock %}