{% extends 'base.html.twig' %}

{% block title %}Sgr: Eventos{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    
    <h1 class="mb-2">Reservas</h1>


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="row">    
        
        <div class="col-2">

            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFiltros" aria-expanded="{{ showFilters == 1 ? 'true' : '' }}" aria-controls="collapseFiltros">
                    <i class="fas fa-bars"></i>
                </button>
            </p>
            <div class="collapse {{ showFilters == 1 ? 'show' : '' }}" id="collapseFiltros">
                <div id="filtros">
                    <div class="mt-3 mb-3">

                        {{ include('sgr_form/_formFiltersSrgEvento.html.twig', {'button_label': 'Filtrar eventos'}) }}
                    </div>
                </div>
            </div>
        </div>
        
        <div id="colCalendar" class="col-{{ showFilters == 1 ? '10' : '12' }}">
            
            <div class="row mb-3">
               
                <div class="col-2 content-justify-left text-left">

                    
                    <select class="custom-select" id="massive_delete_eventos">
                        <option selected>Para los elementos marcados...</option>
                        <option value="1">Borrar</option>
                    </select>
                </div>
                <div class="col-3 content-justify-left text-left">
                    <a class="btn btn-primary" type="button" href="{{ path('sgr_evento_new') }}">Añadir reserva</a>     
            
                </div>    
                <div class="col-7 text-right text-info">
                    Desde<b> {{ data['begin']|format_datetime('full','none',locale='es')|capitalize }}</b> hasta<b> {{ data['end']|format_datetime('full','none',locale='es')|capitalize }}</b>
                </div>
            </div>
            <form  name="form_sgr_massive_delete" action="{{ path('sgr_evento_massive_delete') }}" method="post" onsubmit="return confirm('¿Seguro que quieres borrar las reservas seleccionadas?');">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th style="vertical-align: top;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck0">
                            </div>
                        </th>
                        <th>Estudios</th>
                        <th>Título</th>
                        <th>Espacio</th>
                        <th>F_inicio</th>
                        <th>F_fin</th>
                        <th>Día/s</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        
                        <!--<th>CreatedAt</th>-->
                        <!--<th>UpdatedAt</th>-->
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {# dump(pagination) #}
                {% for sgr_evento in pagination %}
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input checkbox-massive" type="checkbox" name="sgr_evento_massive_delete[eventos][]" value="{{sgr_evento.id}}" id="defaultCheck-{{sgr_evento.id}}">
                            </div>
                        </td>
                        <td>
                            {% if sgr_evento.titulacion %} {{ sgr_evento.titulacion }} {% endif %}
                            {% if sgr_evento.asignatura %} <footer class="blockquote-footer"><cite title="Source Title">{{ sgr_evento.asignatura }}</cite></footer> {% endif %}
                            {% if sgr_evento.asignatura %} <footer class="blockquote-footer"><cite title="Source Title">Gpr {{ sgr_evento.grupoAsignatura }}</cite></footer> {% endif %}
                            {% if sgr_evento.asignatura %} <footer class="blockquote-footer"><cite title="Source Title">{% if sgr_evento.profesor %}{{ sgr_evento.profesor }} {% endif %}</cite></footer> {% endif %}

                        </td>
                        <td>
                            {{ sgr_evento.titulo }}
                            <footer class="blockquote-footer"><cite title="Source Title">{{ sgr_evento.actividad }}</cite></footer>
                        </td>
                        
                        <td>{{ sgr_evento.espacio }}</td>
                        <td>{{ sgr_evento.fInicio ? sgr_evento.fInicio|date('d-m-Y') : '' }}</td>
                        <td>{{ sgr_evento.fFin ? sgr_evento.fFin|date('d-m-Y') : '' }}</td>
                        <td>{{ sgr_evento.getDiasStringFormat|join(', ',' y ') }} </td>
                        <td>{{ sgr_evento.hInicio ? sgr_evento.hInicio|date('H:i') : '' }}</td>
                        <td>{{ sgr_evento.hFin ? sgr_evento.hFin|date('H:i') : '' }}</td>
                        
                        <!--<td>{{ sgr_evento.createdAt ? sgr_evento.createdAt|date('Y-m-d H:i:s') : '' }}</td>-->
                        <!--<td>{{ sgr_evento.updatedAt ? sgr_evento.updatedAt|date('Y-m-d H:i:s') : '' }}</td>-->
                        
                        <td>
                            <a class="btn btn-secondary m-1" type="button" href="{{ path('sgr_evento_show', {'id': sgr_evento.id}) }}"> Ver </a>
                            <a class="btn btn-primary m-1" type="button" href="{{ path('sgr_evento_edit', {'id': sgr_evento.id}) }}"> Editar </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">No se encontraron eventos...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>

            
            <div>
                <div>{{ knp_pagination_render(pagination) }}</div>
                <footer class="blockquote-footer">Total de eventos: <cite title="Source Title">{{ pagination.getTotalItemCount }}</cite></footer>
            </div>

            {% if filtros %}
            <div class="alert alert-info justify-content-start" role="alert">
                <p>
                    <h3>Filtros aplicados en la busqueda</h3>
                    {% for key, filtro in filtros %}
                        {% if filtro %}
                            <span><b>{{ key|capitalize }}:</b> {{filtro|capitalize}} </span>

                        {% endif %}     
                    {% endfor %}
                </p>
            </div>
            {% endif %}
        </div>
    </div><!-- //.row -->


{% endblock %}

{% block morescripts %}
    
    {# Modify when Upload #}
    <!--
    <script type="text/javascript" src="/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/build/datetimepickerInit.js"></script>
    <script type="text/javascript" src="/build/datetimepicker-calendarViewYear.js"></script>
    -->
     
    <script type="text/javascript" src="/reservasfgh/public/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/datetimepickerInit.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/datetimepicker-calendarViewYear.js"></script>
    <script type="text/javascript" src="/reservasfgh/public/build/calendarios.js"></script>

        <script type="text/javascript">        
            
            $(function () {
                
                $('#massive_delete_eventos').on('change', function(e){
                    
                    $('form[name="form_sgr_massive_delete"]').submit();
                });

                $('#defaultCheck0').on('change', function(e){

                    if ($('#defaultCheck0').is(':checked'))
                        $('.checkbox-massive').prop('checked',true);
                    else
                        $('.checkbox-massive').prop('checked',false);
                });
            });
        </script>

{% endblock %}