{% extends 'base.html.twig' %}

{% block title %}New SgrEvento{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    <h1>Nuevo Evento</h1>
	{% for label, messages in app.flashes %}
    	{% for message in messages %}
        	<div class="alert alert-{{ label }}" role="alert">
            	{{ message }}
        	</div>
    	{% endfor %}
	{% endfor %}
    
    {{ include('sgr_evento/_form.html.twig') }}
    <!-- <button class="btn btn-primary" type="button">{{ button_label|default('Salvar') }}</button><br /> -->

    <a href="{{ path('sgr_evento_index') }}">Volver a la lista</a>
{% endblock %}

{% block morescripts %}
    
    <script type="text/javascript" src="/build/formFiltersInput.js"></script>
    <script type="text/javascript" src="/build/datetimepickerInit.js"></script>

    <!-- 
        <script type="text/javascript" src="/reservasfgh/public/build/formFiltersInput.js"></script>
        <script type="text/javascript" scr="/reservasfgh/public/build/datetimepickerInit.js"></script>
    -->
{% endblock %}