{% extends 'base.html.twig' %}

{% block title %}SgrEvento{% endblock %}

{% block body %}
    <h1>Evento</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th class="col-md-1 text-right">Id:</th>
                <td>{{ sgr_evento.id }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">Titulo:</th>
                <td>{{ sgr_evento.titulo }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">Estado:</th>
                <td>{{ sgr_evento.estado|capitalize }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">Desde:</th>
                <td>{{ sgr_evento.fInicio ? sgr_evento.fInicio|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">Hasta:</th>
                <td>{{ sgr_evento.fFin ? sgr_evento.fFin|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">De:</th>
                <td>{{ sgr_evento.hInicio ? sgr_evento.hInicio|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">A:</th>
                <td>{{ sgr_evento.hFin ? sgr_evento.hFin|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right" >Todos los:</th>
                <td> {{ sgr_evento.getDiasStringFormat|join(', ',' y ')}} </td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">CreatedAt:</th>
                <td>{{ sgr_evento.createdAt ? sgr_evento.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="col-md-1 text-right">UpdatedAt:</th>
                <td>{{ sgr_evento.updatedAt ? sgr_evento.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-4">
    
        <a class="btn btn-primary mb-2" type="button" href="{{ path('sgr_evento_edit', {'id': sgr_evento.id}) }}">Editar</a><br />    
        <a href="{{ path('sgr_evento_index') }}">Volver a la lista</a>

    </div>
    {{ include('sgr_evento/_delete_form.html.twig') }}
{% endblock %}