{% extends 'base.html.twig' %}

{% block title %}SgrEvento{% endblock %}

{% block body %}
    <h1>SgrEvento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgr_evento.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ sgr_evento.titulo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ sgr_evento.estado|capitalize }}</td>
            </tr>
            <tr>
                <th>Desde</th>
                <td>{{ sgr_evento.fInicio ? sgr_evento.fInicio|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{ sgr_evento.fFin ? sgr_evento.fFin|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>De</th>
                <td>{{ sgr_evento.hInicio ? sgr_evento.hInicio|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>A</th>
                <td>{{ sgr_evento.hFin ? sgr_evento.hFin|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Todos los</th>
                <td> {{ sgr_evento.getDiasStringFormat|join(', ',' y ')}} </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sgr_evento.createdAt ? sgr_evento.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ sgr_evento.updatedAt ? sgr_evento.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sgr_evento_index') }}">back to list</a>

    <a href="{{ path('sgr_evento_edit', {'id': sgr_evento.id}) }}">edit</a>

    {{ include('sgr_evento/_delete_form.html.twig') }}
{% endblock %}
