{{ form_start(form) }}
<fieldset>

    <div id="accordion">
    <div class="card">
        <div class="card-header d-flex justify-content-start" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="showMoreFilters">
                
                <i class="far fa-eye"></i> Más filtros...
        
              
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="form-row mb-1">
                        <div class="form-group col-md-3 border-top pt-2">
                            <label for="inputTermino">{{ form_label(form.actividad) }}</label>
                                {{ form_widget(form.actividad) }}
                        </div>      
                        <div class="form-group col-md-3 border-top pt-2">
                            <label for="inputTermino">{{ form_label(form.titulacion) }}</label>
                                {{ form_widget(form.titulacion) }}
                        </div>
                        <div class="form-group col-md-3 border-top pt-2">
                            <label for="inputCurso">{{ form_label(form.curso) }}</label>
                            {{ form_widget(form.curso) }}
                        </div>
                        <div class="form-group col-md-3 border-top pt-2">
                            <label for="inputTermino">{{ form_label(form.asignatura) }}</label>
                                {{ form_widget(form.asignatura) }}
                        </div>
                        <div class="form-group col-md-3 border-top pt-2">
                            <label for="inputTermino">{{ form_label(form.profesor) }}</label>
                                {{ form_widget(form.profesor) }}
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

	<div class="form-row mb-1">
		
        <div class="col-md-2 p-2">
            
            <div class="form-group col-md-8">
                {% if view is defined and view == 'day' %}
                    <label>{{ form_label(form.f_inicio,null, {'label' : 'Fecha' }) }}</label>
                {% elseif view is not defined %}
                    <label>{{ form_label(form.f_inicio,null, {'label' : 'Fecha Inicio' }) }}</label>
                {% endif %}
                <div class="input-group date" id="datetimepicker-fi" data-target-input="nearest">
                    {{ form_widget(form.f_inicio, {'attr': {'class': 'datetimepicker-input', 'data-target' : '#datetimepicker-fi'}}) }}
                    <div class="input-group-append" data-target="#datetimepicker-fi" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            
            {% if view is not defined or view != 'day' %}
            <div class="form-group col-md-8">
                <label>{{ form_label(form.f_fin) }}</label>
                <div class="input-group date" id="datetimepicker-ff" data-target-input="nearest">
                    {{ form_widget(form.f_fin, {'attr': {'class': 'datetimepicker-input', 'data-target' : '#datetimepicker-ff'}}) }}
                    <div class="input-group-append" data-target="#datetimepicker-ff" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-10 d-flex flex-column justify-content-end">
            	<div class="d-flex justify-content-end p-2">
                    <div class="form-group col-md-4">
        			<label for="inputTermino">{{ form_label(form.termino) }}</label>
        				{{ form_widget(form.termino) }}
                    </div>
                </div>
        		<div class="d-flex justify-content-end p-2">
            		<div class="form-group p-2">
            			{{ form_widget(form.espacio) }}
            		</div>
                </div>
        	
        </div>
    	
    	
	</div>
    
    <div class="form-row d-flex justify-content-end mb-1">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary" id="sgr_filters_sgr_eventos_submit" role="button" ><i class="fas fa-search"></i> {{ button_label|default('Mostrar eventos') }}</button>
		</div>
	</div>
	{{ form_row(form._token) }}  
</fieldset>  
{{ form_end(form, {'render_rest': false}) }}

