{{ form_start(form) }}

	<fieldset>
	<legend>Criterios de busqueda</legend>  
	
    <div class="form-row p-3">

        <div class="form-group col-md-3">
            <label id="inputFInicio"></label>
            <label for="inputFInicio">{{ form_label(form.f_inicio) }}</label>
            {{ form_widget(form.f_inicio) }}
        </div>
        <div class="form-group col-md-3">
            <label id="inputFFin"></label>
            <label for="inputFFin">{{ form_label(form.f_fin) }}</label>
            {{ form_widget(form.f_fin) }}
        </div>
        <div class="form-group col-md-3">
            <label id="inputEquipamiento"></label>
            <label for="inputEquipamiento">{{ form_label(form.equipamiento) }}</label>
            {{ form_widget(form.equipamiento) }}
        </div>
        <div class="form-group col-md-3">
            <label id="inputTermino"></label>
            <label for="inputTermino">{{ form_label(form.termino) }}</label>
            {{ form_widget(form.termino) }}
        </div>
    </div>
  
    <button class="btn btn-primary" id="sgr_filters_sgr_eventos_submit" role="button" ><i class="fas fa-search"></i> {{ button_label|default('Filtrar') }}</button>
  </fieldset>

 {{ form_end(form) }}