{% extends 'base.html.twig' %}

{% block title %}Upload CSV{% endblock %}

{% block body %}
    <h1>Upload CSV</h1>

    {{ form_start(form) }}
    	<fieldset>
			<legend class="col-md-6">CSV file formulario</legend>
			<div class="form-row p-3">
			<div class="form-group col-md-4">
    			{{ form_label(form.fileCsv) }}
    			{{ form_widget(form.fileCsv) }}
    		</div>
    		</div>
  		</fieldset>
  		<button class="btn btn-primary m-3">{{ button_label|default('Upload CSV') }}</button>
    {{ form_end(form) }}

    {% if errors is defined %}
       	<div class="alert alert-danger" role="alert">
    		{% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
    	</div>
    {% endif %}
    
    {% if filas is defined %}

        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Validaciones</th>
                <th>Num. Fila</th>
                <th>C.ASIG.</th>
                <th>ASIGNATURA</th>
                <th>DUR.</th>
                <th>GRP.</th>
                <th>PROFESOR</th>
                <th>F_DESDE</th>
                <th>F_HASTA</th>
                <th>C.DIA</th>
                <th>H_INICIO</th>
                <th>H_FIN</th>
                <th>AULA</th>
            </tr>
        </thead>
        <tbody>
            
            
        {% for fila in filas %}
            <tr>
                <td>
                    {% if fila.validations.existAula and not fila.validations.solapa and  fila.validations.solapaCsv is empty %}
                        <span class="text-success"><b><i class="fas fa-check"></i>Evento salvado con éxito.</b></span>
                    {% else %}
                        <span class="text-danger"><b>Fila con errores.</b></span><br />
                    {% endif %}

                    {% if not fila.validations.existAula %}
                        <span class="text-danger"><i class="fas fa-exclamation-circle"></i> No existe espacio</span>
                    {% endif %}
                    {% if fila.validations.solapa %}
                        <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Espacio Ocupado</span>
                    {% endif %}
                    {% if fila.validations.solapaCsv %}
                        <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Solapamiento con la/s fila/s: {{ fila.validations.solapaCsv|join(', ', ' y ') }}</span>
                    {% endif %}

                    {# dump(fila.validations) #}
                </td>
                <td>{{ fila.numfilaCsv }}</td>
                <td>{{ fila['C.ASIG.'] }}</td>
                <td>{{ fila.ASIGNATURA }}</td>
                <td>{{ fila['DUR.'] }}</td>
                <td>{{ fila['GRP.'] }}</td>
                <td>{{ fila.PROFESOR }}</td>
                <td>{{ fila.F_DESDE }}</td>
                <td>{{ fila.F_HASTA }}</td>
                <td>{{ fila['C.DIA'] }}</td>
                <td>{{ fila.H_INICIO }}</td>
                <td>{{ fila.H_FIN }}</td>
                <td>{{ fila.AULA }}</td>
                
            </tr>
        {% endfor %}
        </tr>
        
        </tbody>
    	</table>

        
    {% endif %}
{% endblock %}