{% extends 'base.html.twig' %}

{% block title %}Upload CSV{% endblock %}

{% block body %}
    <h1>Upload CSV</h1>

    {# include('sgr_tipo_actividad/_form.html.twig') #}
	{{ form_start(form) }}
    	<fieldset>
			<legend class="col-md-6">CSV file formulario</legend>
			<div class="form-row p-3">
			<div class="form-group col-md-4">
    			{{ form_label(form.fileCsv) }}
    			{{ form_widget(form.fileCsv) }}
    		</div>
    		</div>
  		</fieldset>
  		<button class="btn btn-primary m-3">{{ button_label|default('Upload') }}</button>
    {{ form_end(form) }}

    {% if errors is defined %}
       	<div class="alert alert-danger" role="alert">
    		{% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
    	</div>
    {% endif %}
    
    {% if filas is defined %}
    	<table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ES</th>
                <th>C.ASIG.</th>
                <th>ASIGNATURA</th>
                <th>DUR.</th>
                <th>GRP.</th>
                <th>PROFESOR</th>
                <th>F_DESDE</th>
                <th>F_HASTA</th>
                <th>C.DIA</th>
                <th>H_INICIO</th>
                <th>H_FIN</th>
                <th>AULA</th>
                <th>Validations</th>
            </tr>
        </thead>
        <tbody>
    	{% for fila in filas %}
        <tr {% if fila.validations.solapa %} class="alert alert-danger" {% endif %} >
    		<td>{{ fila.ES }}</td>
            <td>{{ fila['C.ASIG.'] }}</td>
            <td>{{ fila.ASIGNATURA }}</td>
            <td>{{ fila['DUR.'] }}</td>
            <td>{{ fila['GRP.'] }}</td>
            <td>{{ fila.PROFESOR }}</td>
            <td>{{ fila.F_DESDE }}</td>
            <td>{{ fila.F_HASTA }}</td>
            <td>{{ fila['C.DIA'] }}</td>
            <td>{{ fila.H_INICIO }}</td>
            <td>{{ fila.H_FIN }}</td>
            <td>{{ fila.AULA }}</td>
            <td>{{ dump(fila.validations) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    	</table>
    {% endif %}
{% if eventos is defined %}
    {{ dump(eventos) }}
{% endif %}
{% endblock %}