{% extends 'base.html.twig' %}

{% block title %}SgrEspacio index{% endblock %}

{% block body %}
    <h1>Espacios</h1>

    <table class="table tabl-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Aforo Máximo</th>
                <th>Aforo Examen</th>
                <th>Equipamiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_espacio in sgr_espacios %}
            <tr>
                <td>{{ sgr_espacio.id }}</td>
                <td>{{ sgr_espacio.nombre }}</td>
                <td>{{ sgr_espacio.descripcion }}</td>
                <td>{{ sgr_espacio.aforo }}</td>
                <td>{{ sgr_espacio.AforoExamen }} </td>
                <td>
                    {% for medio in sgr_espacio.mediosDisponibles %}
                        {{ medio }} &nbsp;
                    {% else %}
                        No hay medios definidos
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-secondary" type="button" href="{{ path('sgr_espacio_show', {'id': sgr_espacio.id}) }}">Ver</a>
                    <a class="btn btn-primary" type="button" href="{{ path('sgr_espacio_edit', {'id': sgr_espacio.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay espacios definidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" type="button" href="{{ path('sgr_espacio_new') }}">Nuevo espacio</a>
{% endblock %}
