{% extends 'base.html.twig' %}

{% block title %}SgrEspacio{% endblock %}

{% block body %}
    <h1>Espacio</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgr_espacio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sgr_espacio.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ sgr_espacio.descripcion }}</td>
            </tr>
            <tr>
                <th>Acl</th>
                <td>{{ sgr_espacio.acl }}</td>
            </tr>
            <tr>
                <th>Aforo</th>
                <td>{{ sgr_espacio.aforo }}</td>
            </tr>
            <tr>
                <th>Medios</th>
                <td>{{ sgr_espacio.medios ? sgr_espacio.medios|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" type="button" href="{{ path('sgr_espacio_edit', {'id': sgr_espacio.id}) }}">Editar</a>

    <a class="btn btn-link" type="button" href="{{ path('sgr_espacio_index') }}">Volver a la lista</a>


    {{ include('sgr_espacio/_delete_form.html.twig') }}
{% endblock %}
