<!DOCTYPE html> 
<html class="h-100" lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	{% block meta %}{% endblock %}
    	<meta name="author" content="Juan Antonio Fernández Ruiz, EE UNITIC Fcom">
        <meta name="description" content="Aplicación de reserva y gestión de espacios de la Facultad de Geografía e Historia, Universidad de Sevilla">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            
            {{ encore_entry_link_tags('app') }}
            <!--
            <link rel="stylesheet" href="/reservasfgh/public/build/vendors~app.css">
            <link rel="stylesheet" href="/reservasfgh/public/build/app.css">
		      -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            {{ include('navbar.html.twig') }}
        </header>
    
        <main role="main" class="flex-shrink-0">
            <div class="container-fluid">
                <div class="row justify-content-md-center py-5">
                    <div class="col col-md-10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
       
        <footer class="footer mt-auto py-3">
            <div class="container-fluid">
                <div class="">
                    <a href="https://geografiaehistoria.us.es/" alt="Facultad de Geografía e Historia"><img src="{{ asset('images/MarcaAguaFGH.svg')}}" width="150px"></a>
                    <a href="http://www.us.es" alt="Universidad de Sevilla"><img src="{{ asset('images/logo_us.jpg') }}"></a>
                </div>
                <div class="">
                    SGR: Sitema de Gestión de Reservas.
                </div>
            </div>
        </footer>     

        {% block javascripts %}
        	{{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file -->
               <!-- <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
               
                
               <!-- 
               <script src="/reservasfgh/public/build/runtime.js"></script>
                <script src="/reservasfgh/public/build/vendors~app.js"></script>
                <script src="/reservasfgh/public/build/app.js"></script>
            -->
        {% endblock %}
    </body>
</html>
