{% extends 'base.html.twig' %}

{% block title %}Sgr: Grupos (Asignatura){% endblock %}

{% block body %}
    <h1 class="mb-2">Grupo (Asignatura)</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Grupo</th>
                <th>Asignatura</th>
                <th>Capacidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_grupo_asignatura in sgr_grupo_asignaturas %}
            <tr>
                <td>{{ sgr_grupo_asignatura.id }}</td>
                <td>{{ sgr_grupo_asignatura.nombre }}</td>
                <td>{{ sgr_grupo_asignatura.sgrAsignatura }}</td>
                <td>{{ sgr_grupo_asignatura.capacidad }}</td>
                <td>
                    <a href="{{ path('sgr_grupo_asignatura_show', {'id': sgr_grupo_asignatura.id}) }}">show</a>
                    <a href="{{ path('sgr_grupo_asignatura_edit', {'id': sgr_grupo_asignatura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary m-2" type="button" href="{{ path('sgr_grupo_asignatura_new') }}">Nuevo Grupo</a>
    <div>
        
        <div>{{ knp_pagination_render(sgr_grupo_asignaturas) }}</div>
        <footer class="blockquote-footer">Total de grupos (asignaturas): <cite title="Source Title">{{ sgr_grupo_asignaturas.getTotalItemCount }}</cite></footer>
    </div>
{% endblock %}
