{% extends 'base.html.twig' %}

{% block title %}Sgr: Grupos (Asignatura){% endblock %}

{% block body %}
    <h1>Grupo (Asignatura)</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Asignatura</th>
                <th>Capacidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_grupo_asignatura in sgr_grupo_asignaturas %}
            <tr>
                <td>{{ sgr_grupo_asignatura.id }}</td>
                <td>{{ sgr_grupo_asignatura.nombre }}</td>
                <td>{{ sgr_grupo_asignatura.sgrAsignatura }}</td>
                <td>{{ sgr_grupo_asignatura.capacidad }}</td>
                <td>
                    <a href="{{ path('sgr_grupo_asignatura_show', {'id': sgr_grupo_asignatura.id}) }}">show</a>
                    <a href="{{ path('sgr_grupo_asignatura_edit', {'id': sgr_grupo_asignatura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sgr_grupo_asignatura_new') }}">Create new</a>
{% endblock %}
