{% extends 'base.html.twig' %}

{% block title %}Sgr: Términos{% endblock %}

{% block body %}

    <h1>Términos</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Taxonomía</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sgr_termino in sgr_terminos %}
            <tr>
                <td>{{ sgr_termino.id }}</td>
                <td>{{ sgr_termino.nombre }}</td>
                <td>{{ sgr_termino.descripcion }}</td>
                <td>{{ sgr_termino.taxonomia }}</td>
                <td>
                    <a type="button" class="btn btn-secondary m-1" href="{{ path('sgr_termino_show', {'id': sgr_termino.id}) }}">Ver</a>
                    <a type="button" class="btn btn-primary m-1" href="{{ path('sgr_termino_edit', {'id': sgr_termino.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay términos definidos </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" type="button" href="{{ path('sgr_termino_new') }}">Nuevo término</a>
    <a class="btn btn-link" type="button" href="{{ path('sgr_taxonomia_index') }}">Ir a Taxonomías</a>
{% endblock %}
