{% extends 'base.html.twig' %}

{% block title %}SgrTermino{% endblock %}

{% block body %}
    <h1 class="mb-2">Categorías</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgr_termino.id }}</td>
            </tr>
            <tr>
                <th>Categoría</th>
                <td>{{ sgr_termino.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ sgr_termino.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-4">

        <a class="btn btn-primary" type="button" href="{{ path('sgr_termino_edit', {'id': sgr_termino.id}) }}">Editar</a>
        <a class="btn btn-link" type="button" href="{{ path('sgr_termino_index') }}">Volver a la lista</a>
    </div>

        

    {{ include('sgr_termino/_delete_form.html.twig') }}
{% endblock %}
