{% extends 'base.html.twig' %}

{% block title %}SgrTermino{% endblock %}

{% block body %}
    <h1>SgrTermino</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgr_termino.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sgr_termino.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ sgr_termino.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sgr_termino_index') }}">back to list</a>

    <a href="{{ path('sgr_termino_edit', {'id': sgr_termino.id}) }}">edit</a>

    {{ include('sgr_termino/_delete_form.html.twig') }}
{% endblock %}
