{% extends 'layoutPdf.html.twig' %}

{% block title %}<h1>SGR: Informe de ocupación</h1> {% endblock %}

{% block content %}

	{% set begin = date("1970-1-1 07:30")%}
	{% set h_inicio = [] %}
	{% set h_fin = [] %}

	{% for i in 1..28 %}
		
		{% set minutos = 30 * i %}
		{% set next_h_inicio = date(begin.format("Y-m-d H:i") ~ " + " ~ minutos ~ " minutes") %}
		{% set next_h_fin = date(next_h_inicio.format("Y-m-d H:i") ~ " + 30 minutes") %}
		{% set h_inicio= h_inicio|merge({(i):next_h_inicio})  %}
		{% set h_fin= h_fin|merge({(i):next_h_fin})  %}

	{% endfor %}

	{% set  diaSemana = { 1: 'Lunes', 2: 'Martes', 3: 'Miércoles', 4: 'Jueves', 5: 'Viernes', 6: 'Sábado', 7: 'Dom' } %}

	{# key = espacio_id #}
    {% for key, calendario in calendarios %}
    	{# calendario = array [0 => sgrEspacio, 1 => Array con key = diaSemana (1=lunes..7=domingo)]#}
    	
    	<table class="blueTable">
    		
    		<caption>{{ calendario[0].nombre }}</caption>
    		
    		<thead style="width: 100%">
                <tr>
                    <th style=""><div class="">Hora</div></th>
                    {% for i in 1..7 %}
    				    <th><div class="">{{ diaSemana[i] }}</div></th>
                    {% endfor %}
                </tr>
    		</thead>

    		<tbody>

    			{% for j in 0..27 %}
    				<tr>
    					<td style="height: 27px;font-size: 11px;text-align: center"> {{ h_inicio[j]|date('H:i') }}-{{ h_fin[j]|date("H:i") }} </td>
                        {% set wth = '150px' %}
                        {% set nwth = 150 %}
    					{% for i in 1..7 %}
                            
    						{% if calendario[1][i] is defined %}
                                {% if calendario[1][i][h_inicio[j]|date('H:i')] is defined %}
                                    <td  class="reserva" style="height: 24px;min-width: 150px;padding-top: 0px;padding-bottom: 0px">
            						<div style="position: relative;top: 0px;height: 24px;/*max-width: 100px*/">
                            	
    									
	    								{% for key, reserva in calendario[1][i][h_inicio[j]|date('H:i')] %} 
	    									
	    									{% set h = ( ( 27 * reserva['evento'].getDuracionHoras ) / 30 ) - 5  %}
	    									{% set w = 95 -  (reserva['concurrencias'] * 12)  %}
                                            {% set w = nwth -  (reserva['concurrencias'] * 14)  %}
	    									{% set left = (reserva['concurrencias'] * 16)  ~ "px" %}
                                            {% if key < 6 %}
                                                {% set color = reserva['evento'].actividad.color %}
    	    									<div 	class="borde div_reserva" 
    	    										style=' text-align: center;
                                                            overflow:hidden;
                                                            font-size: 11px;
                                                            max-width: 95px;
                                                            padding-top: 3px;
                                                            padding-left: 3px;
                                                            height: {{ h }}px;
                                                            background-color: #{{ color }};
                                                            position: absolute;
                                                            top:-1px;
                                                            z-index:100;
                                                            width: {{ w }}px;'>
                                                    
                                                    <span style="mix-blend-mode: difference;color: white">{{reserva['evento'].getDuracionHoras}} {{ reserva['evento'].titulo }}</span>
                                                </div>
                                            {% endif %}
	    								{% endfor %}
	    							</div>
                                    </td>
                                
                                {% else %}  
                                    <td style="height: 24px;min-width: {{ wth }};padding-top: 0px;padding-bottom: 0px"><div style="width:100%;height: 100%;min-height: 26px;"></div></td>
                                {% endif %}
                            {% else %}  
                                    <td style="height: 24px;min-width: {{ wth }};padding-top: 0px;padding-bottom: 0px"><div style="width:100%;height: 100%;min-height: 26px;"></div></td>
                            {% endif %}
                            
    					{% endfor %}
    				</tr>
    			{% endfor %}
    		</tbody>

    	</table>
        <div style="page-break-after:always;"></div>
    {% endfor %}
{% endblock %}