{% extends 'layoutPdf.html.twig' %}



{% block title %}<h1>Pdf core32 knp bundle dompdf for symfony</h1> {% endblock %}

{% block content %}

	{% set begin = date("1970-1-1 07:30")%}
	{% set h_inicio = [] %}
	{% set h_fin = [] %}

	{% for i in 1..28 %}
		
		{% set minutos = 30 * i %}
		{% set next_h_inicio = date(begin.format("Y-m-d H:i") ~ " + " ~ minutos ~ " minutes") %}
		{% set next_h_fin = date(next_h_inicio.format("Y-m-d H:i") ~ " + 30 minutes") %}
		{% set h_inicio= h_inicio|merge({(i):next_h_inicio})  %}
		{% set h_fin= h_fin|merge({(i):next_h_fin})  %}

	{% endfor %}

	{% set  diaSemana = { 1: 'Lunes', 2: 'Martes', 3: 'Miércoles', 4: 'Jueves', 5: 'Viernes', 6: 'Sábado', 7: 'Domingo' } %}

	{# key = espacio_id #}
    {% for key, calendario in calendarios %}
    	{# calendario = array [0 => sgrEspacio, 1 => Array con key = diaSemana (1=lunes..7=domingo)]#}
    	
    	<table class="blueTable">
    		
    		<caption class="">{{ calendario[0].nombre }}</caption>
    		
    		<thead class="">
    			<th style="max-width: 100px"><div class="">Hora</div></th>
    			{% for i in 1..7 %}
    				<th style="max-width: 100px"><div class="">{{ diaSemana[i] }}</div></th>
    			{% endfor %}
    		</thead>

    		<tbody>

    			{% for j in 1..14 %}
    				<tr>
    					<td> {{ h_inicio[j]|date('H:i') }}-{{ h_fin[j]|date("H:i") }} </td>
    					{% for i in 1..7 %}

    						<td>
    							{% if calendario[1][i] is defined %}
    								{% if calendario[1][i][h_inicio[j]|date('H:i')] is defined %}
    									<div style="height: 100%;position: relative;">
	    									{% for reserva in calendario[1][i][h_inicio[j]|date('H:i')] %} 
	    										
	    										{% set h = "100% - " ~ (reserva['concurrencias'] * 20) ~ "px" %}
	    										{% set w = "100% - " ~ (reserva['concurrencias'] * 20) ~ "px" %}
	    										{% set top = (reserva['concurrencias'] * 16)  ~ "px" %}
	    										<div class="borde" style='max-width: 85px;max-height: 130px; width: 95%; padding-top: 3px; padding-left: 3px; height: Calc({{ h }});width: Calc({{ w }});background-color: aqua; position: absolute;top:  {{ top }}  '> {{ reserva['evento'].titulo }} , ( {{ reserva['concurrencias'] }} )</div>
	    									{% endfor %}
	    								</div>
    								{% endif%}
    							{% endif %}	
    						</td>
    					{% endfor %}
    				</tr>
    			{% endfor %}
    		</tbody>

    	</table>
    {% endfor %}
{% endblock %}